[2021-09-30 05:59] zsoltmoravcsik commented on #621
+1 That would be a nice feature, could we maybe leverage the REST API log
related endpoints? Maybe just give a simple feature to post via rest API a
message log entry like Logoutput in TIs. It would help
REST-based application transparency and collect logs in one place which
make log tracing simpler for solutions like Pulse or other ELK stack
solutions.

[2021-09-30 14:45] ubihw opened #622 "TM1py SSO problem"
I don't know if it's an error, or a misconfiguration/misconception on my side: If I try to connect to TM1 with SSO, I get
an error, stating a missing dependency. My test file:
[code]
The result:
[code]
Fresh install of Python 3.9, and of TM1py 1.8.

We use `IntegratedSecurityMode=5`, and accessing web sheets via `http://tm1-server:9510/tm1web/UrlApi.jsp` with SSO works.

It's my first attempt to S

[2021-09-30 14:52] rkvinoth commented on #622
Are you running this script in windows?
If not, SSO will not work.
If yes, install request negotiate sspi package using `pip install requests-negotiate-sspi`

[2021-09-30 14:57] ubihw commented on #622
Yes, it is in windows, and `requests-negotiate-sspi` is installed:
[code]

[2021-09-30 15:14] MariusWirtz commented on #622
I think you may have two installations of python.

One in your local AppData and a global one.
- `C:\Users\ubihw\AppData\Roaming\Python\Python39\site-packages\TM1py\Services\RestService.py`
- `C:\Python\`

Navigate to the scripts folder in the global installation (`C:\Python3\Scripts`) and run the pip install again.

[2021-09-30 16:13] #622 closed

[2021-10-01 03:53] rkvinoth commented on #621
@PiotrRajtar I don't think there is a way to add `LOGOUTPUT` via REST API (I could be wrong).

But the unboundTI way works. The issue with your code is that, `execute_ti_code` method expects an `iterable` but you are passing a `str`. It is trying to convert your `str` into an `iterable` and that is why the whitespaces are getting removed.
This should work:

[code]
I highly recommend the usage of p

[2021-10-01 09:37] MariusWirtz commented on #621
Good point @rkvinoth. The function expects an iterable. I oversaw this.
AFAIK we have to use unbound ti processes for writing to the message log.

 @rkvinoth please feel free to open a Pull Request!

[2021-10-01 13:22] DouardLeRoux opened #623 "Connection issues - Cannot connect to local or cloud TM1"
I ran the check.py to try to connect to a local tm1 server and I get the error
ERROR:
        'NoneType' object has no attribute 'text'

I tried to connect to our cloud version using Jupyter and got the same error:
AttributeError: 'NoneType' object has no attribute 'text'

**Describe what's not working the way you expect**
(base) C:\TM1py\tm1py-samples-master>python check.py
TM1 User (leave empty

[2021-10-01 15:04] MariusWirtz commented on #623
Probably you are providing wrong aguments. Please doublecheck the arugments UseSSL and HTTPortNumber in the tm1s.cfg

[2021-10-01 16:29] DouardLeRoux commented on #623
Thanks, that was true for the local, I had set SSL incorrect

But I still get an error when trying to connect to the IBM cloud:
from TM1py import TM1Service

with TM1Service(
        _base_url="https://server.planning-analytics.ibmcloud.com/tm1/api/tm1servername/",
        user="name_tm1_automation",
        namespace="LDAP",
        password="password",
        ssl=True,
        verify=True,

[2021-10-01 18:27] MariusWirtz commented on #623
Follow this guide to connect to TM1 in the IBM cloud:
https://code.cubewise.com/tm1py-help-content/connecting-to-the-ibm-cloud-remotely-with-tm1py

[2021-10-05 09:41] elcinsayin opened #624 "Retrieving a view from TM1 to Python while preserving its format"
I was trying to retrieve a view from TM1 using TM1py. Even though the view is saved with the aliases of the dimension, it retrieves the principal name. Also, the measure used in dimension was formatted as percentage, however it retrieves it directly as a number. Is there a way that I can retrieve the view as it is saved in the cube, in terms of formatting?

The code I use to retrieve the view is b

[2021-10-05 10:18] MariusWirtz commented on #624
You can fetch the attribute values in a separate request and update the values in the data frame based on the values of the attributes.
This will do the trick:

[code]

[2021-10-05 11:47] elcinsayin commented on #624
Thank you! I tried this for the alias part and it works. What would you suggest for the percentage part? I also adjusted it from attributes, however it seemed a little different than what we do for the alias part.

[2021-10-05 12:23] MariusWirtz commented on #624
The function `execute_view_dataframe_shaped` returns all columns as strings always. While this is at least consistent it is not always helpful.

Here is a snippet that translated numeric measures into numeric columns. The code assumes that you have the measures on the columns.

[code]

However, a cell level kind of formatting is not possible in pandas data frames I think.

[2021-10-05 12:38] elcinsayin commented on #624
Thank you so much! I will try the code you send.

[2021-10-06 03:29] sootytm1 opened #625 "get_last_message_from_processerrorlog - not returning message"
**Describe what did you try to do with TM1py**
Using tm1.processes.get_last_message_from_processerrorlog("processname") to read the last log entry for a process error log

**Describe what's not working the way you expect**
Was expecting a string with the line from the error log but it returns <Response [200]>

**Version**
- TM1py: 1.8
- TM1 Server Version: 11.8

**Additional context**
with TM1Serv

[2021-10-06 04:03] sootytm1 commented on #625
Thanks for workaround.

[2021-10-06 10:55] #625 closed

[2021-10-06 18:15] meyersrl commented on #509
Update - Using PyCharm as the IDE the integrated login seems to work.  I was using Jupyter previously and couldn't get it to work.

[2021-10-08 12:44] ianboltz opened #627 "}ClientGroups Sync"
**Describe what did you try to do with TM1py**
Hey - I'm looking for a generic script to sync the }clientgroups cube between two instances (push from a master to a slave)

**Describe what's not working the way you expect**
using CAM so passwords not important - just the relationship between clients / groups to be maintained in a single instance and pushed to a reporting instance

[2021-10-08 13:03] MariusWirtz commented on #624
What error message do you get when you execute it?

[2021-10-08 14:24] elcinsayin opened #628 "Retrieving views which have more than one column"
I was trying to retrieve a view which had both measure and Year-Month dimension in columns. 2021 was selected, so it was displaying 12 months of the year 2021.

TM1py retrieved it as the view had 12 of the same measure side by side, but we would like to see the months as well for it to be more clearly understood.

You can see the code in which I retrieve the view:
[code]

NOTE: The part in which I

[2021-10-08 14:30] MariusWirtz commented on #628
The `execute_view_dataframe_shaped` function only works with views that have one dimension on the columns.
This is by design.

[2021-10-08 20:42] haleighoeser commented on #623
I have been getting the same error, and I followed that guide and still got the same error.

[2021-10-08 22:49] meyersrl commented on #509
I have been working a bit more at this and for some reason our PROD environment/network will allow for CAM Mode 5 Authentication with TM1Py.  However our DEV environment/network won't.  Whats strange is that all components are the same version, both environments use the same connection to our PROD Active Directory through the same version of Cognos Analytics.  On top of that SSO seems to work just

[2021-10-11 08:08] DouardLeRoux commented on #623
I also could not connect using this which is why I raised the original issue. I am using ARC to connect with the Non-Interactive Account users so I know the connection should be valid. I have tried both against my dev and prod servers using both dev and prod accounts. I have tried all my TM1 servers in dev and prod.

[2021-10-11 16:04] #628 closed, assigned to nobody

[2021-10-14 20:43] wimgielis opened #629 "Create a temporary TM1 model"
**Describe what did you try to do with TM1py**
I am trying to create a temporary TM1 model, on my laptop (name is AEX199). 2 TM1 models are already running successfully (not through REST API, they are SelfRegistered).

**Describe what's not working the way you expect**
The tm1py code throws an error:

Traceback (most recent call last):
  File "d:/OneDrive/OneDrive - Aexis NV/Wim/TM1/Programs/Pytho

[2021-10-14 20:45] wimgielis commented on #629
I also used localhost instead of AEX199.
The IP address was returned by Postman when I retrieved the 2 existing
servers (the output gives that information).

------

Best regards / Beste groeten,

Wim Gielis
MS Excel MVP 2011-2014
https://www.wimgielis.com <http://www.wimgielis.be>

Op do 14 okt. 2021 om 22:43 schreef Wim Gielis ***@***.***>:

[2021-10-20 11:11] MarkoPuk01 opened #630 "Connection check problem"
Hi,
I tried to check connection with **check.py** script, but I am constantly getting **'NoneType' object has no attribute 'text'**
In step before I successfully got $metadata, so I am pretty sure that there is some problem with connection.

I installed most recent TM1py (1.8) and TM1 Server is on version 11.5.
I tried first tried Python 3.10.0 and then transferred to Python 3.9.7., but that didn'

[2021-10-20 11:29] rkvinoth commented on #630
Check if this helps: https://code.cubewise.com/tm1py-help-content/category/Configuration

[2021-10-20 11:51] MarkoPuk01 commented on #630
Yes, I also executed https://dw-tm1paw207.pi.local:1234/api/v1/$metadata successfully from that other machine.

[2021-10-20 11:57] MarkoPuk01 commented on #630
#import TM1py services
from TM1py.Services import TM1Service
from TM1py.Utils import Utils

#TM1 credentials
ADDRESS = "https://dw-tm1paw207.pi.local"
PORT = 1234
USER = "user"
PWD = "pass"
SSL = True

#Connect to the TM1 instance
tm1 = TM1Service(address=ADDRESS, port=PORT, user=USER, password=PWD, ssl=SSL)

[2021-10-20 17:58] wimgielis opened #631 "SelfRegistered"
**Describe the bug**
Is SelfRegistered something recent ? Code that works on the laptop does not work for a different TM1 admin host.

**To Reproduce**
On my laptop, I can use "get_all_servers_from_adminhost" without problem. The URL http://localhost:5895/api/v1/Servers (correctly) gives me 2 models, where SelfRegistered = True. The same code connecting to a customer environment gives an error on

[2021-10-20 18:10] wimgielis commented on #631
Thanks. I see that the server version 11.4 dates back to October 2018. That
will probably explain it.

------

Best regards / Beste groeten,

Wim Gielis
MS Excel MVP 2011-2014
https://www.wimgielis.com <http://www.wimgielis.be>

Op wo 20 okt. 2021 om 20:07 schreef Ryan Clapp ***@***.***>:

[2021-10-20 19:08] #631 closed, assigned to nobody

[2021-10-21 04:00] jrobinsonAG commented on #609
@MariusWirtz  sorry been a bit busy lately. PR submitted with basic implementation.

[2021-10-21 05:58] MarkoPuk01 commented on #630
Thank you so much for your time, I didn't realize that could be problem.

[2021-10-21 20:07] meyersrl commented on #509
Im noticing a slight difference in Fiddler between logging in to TM1Web in our DEV vs PROD environment.  In DEV there is an extra call with the negotiate authentication header.  In PROD it seems as if it attempts NTLM first and doesn't use negotiate. I checked IIS and negotiate is disabled for both.  Ill keep looking to see if the gateway's somehow are different.

[2021-10-22 08:10] MarkoPuk01 opened #634 "Some functions return Status Code: 401 - Reason: 'Unauthorized'"
Hi,
I successfully connected with TM1py, and when I am not at office and use VPN to connect from home, some functions return Status code 401, but other are passing fine.

Example of functions that return error code:

   tm1.cubes.get_all_names()
   tm1.cubes.cells.execute_view_raw(
        cube_name=cube_name,
        view_name=view_name,
        member_properties=["Name", "Attributes/Name"],

[2021-10-22 08:34] cubewise-gng opened #635 "Write string and numeric values"
**Describe what did you try to do with TM1py**
I wanted to write data to a cube for both numeric and string values.

[code]

**Describe what's not working the way you expect**
The script fails because TM1py creates a CellIncrement statement with a string as the value.

Understandably CellIncrement would apply to numeric cells.
But I was assuming CellPutS would be applied to the string values being

[2021-10-22 08:48] #634 closed, assigned to nobody

[2021-10-22 09:37] #635 closed, assigned to nobody

[2021-10-22 10:18] ards14 opened #637 "TM1 REST API - Getting alias value when retrieving a cube view"
Hi all,

I'm trying to retrieve cube a view using the REST API. I want to retrieve data similar to architect view with alias turned on in few dimensions, API retrieves only native elements.

Is there a way to retrieve attribute names in cellset, For example Quarter dimension retrieves native elements in Fiscal year format, but i need quarters to be extracted in Calendar year format which is an att

[2021-10-22 10:33] #637 closed, assigned to nobody

[2021-11-04 08:18] elcinsayin opened #640 "Python code not sending the parameters to the process it triggers when the code is triggered by another process"
I have a Python code that triggers a TM1 process. When I run the Python code from PyCharm and Command Prompt, the code works as intended. However, when I trigger the Python code from an another process, the process that is triggered by the Python code does not receive the parameters that are sent by the code. I don't get any kind of error. I am not sure what is the problem.

[2021-11-04 08:22] MariusWirtz commented on #640
Hi @elcinsayin,
please post a script that reproduces the error

[2021-11-04 08:27] elcinsayin commented on #640
The code below is the Python code that triggers the process:
  with TM1Service(address="localhost", port=PORT, ssl=True, user=USER, password=PASSWORD) as tm1:
        process = tm1.processes.get(name_process="Sys.GoogleSheetExport")
        parameters = {"pYear": year, "pClient": client}
        # Pass the parameter by unpacking the dictionary
        success, status, error_log_file = tm1.processe

[2021-11-04 08:34] MariusWirtz commented on #640
where are the `year` and `client` variables coming from?

What does it output if you do this:

[code]

[2021-11-04 08:39] elcinsayin commented on #640
Client and Year parameteres are passed from the process that triggers the code, I also printed those parameters out to check whether the Python code receives them or not. It looks like it receives them but it does not properly send them to the process it triggers.

[2021-11-04 08:45] MariusWirtz commented on #640
Try to debug the code the see step by step where the values get lost.
The python code itself looks good.

What version of TM1 are you using?
Some early versions of TM1 11 would not accept numeric parameter values. To work around it you need to explicitly convert the parameter value with the `str` function: `parameters = {"pYear": str(year), "pClient": str(client)}`

[2021-11-04 08:53] elcinsayin commented on #640
Wouldn't that also be a problem while I was running the code in PyCharm as well it that was the case, though? While running the code directly from PyCharm, I also trigger the same process with same parameters, however it works just fine. Also, pYear is a string parameter.

[2021-11-04 09:00] MariusWirtz commented on #640
How do you execute the python script? Can you post the command line statement there?
Something like:

`C:/python3/python.exe C:/projects/my-project/main.py "2021" "Germany"
`

[2021-11-04 09:02] elcinsayin commented on #640
"C:\Program Files\Python39\python.exe" "C:\Program Files\Cubewise\TM1Models\Provectus_Test\SourceData\TA.py" 2021 "Client Name"

I printed the type of the year parameter, it says it's a string.

[2021-11-04 11:05] MariusWirtz commented on #640
How do you consume the arguments that are passed through the cmd to python?

If you execute this at the top of the script. does it print out the 2021 and Client name?

[code]

[2021-11-04 11:13] elcinsayin commented on #640
I use these parameters to trigger the process sys.GoogleSheetExport from the python code, the process updates a few views with these parameters, then I retrieve data from these views. Then I write them into Google Sheets.

Yes, it does.

[2021-11-04 11:28] MariusWirtz commented on #640
Are you saying that if this is executed from the command line it works fine

`C:/python3/python.exe C:/projects/my-project/main.py "2021" "Germany"`

But when execute from a TI through ExecuteCommand the 2021 and Germany is not passed through?

[2021-11-04 11:35] elcinsayin commented on #640
Yes, from the command line, it works. But when I execute it from the TI, python code receives the parameters, however it does not pass them to the process it triggers.

[2021-11-04 12:12] elcinsayin commented on #640
We've changed the log-on user from our user name to local system and it worked. However, we need it to be our user name since some other stuff does not work when it is the local system.

[2021-11-04 12:31] MariusWirtz commented on #640
It sounds very odd. If your user has READ permission to a process, your user must be able to execute it with custom parameters.

It's very odd that the process gets executed but the parameters are not "accepted".

I wonder if maybe something else is wrong in the code or if the wrong script gets executed or something.

[2021-11-04 12:42] elcinsayin commented on #640
But it something was wrong in the code, it shouldn't worked at all. There is only one script called TA.py in the SourceData and it is the one triggered by the TI.

[2021-11-04 12:45] elcinsayin commented on #640
if something was wrong*

[2021-11-08 06:51] Cubewise-Ronan opened #641 "can not use write_to_message_log"
Hi,

I am tring to use write_to_message_log to log information into tm1,
but
![image](https://user-images.githubusercontent.com/65941927/140696600-cadfb0a4-bb9c-4279-9ce5-76244f5240ef.png)
the code I am using is like below,
![image](https://user-images.githubusercontent.com/65941927/140696655-f0028c44-1fcd-46e5-9699-5852823f194b.png)

How can I use it?

[2021-11-08 07:17] elcinsayin opened #642 "TM1Service.cells.write_value() not working"
I was trying to set a value in the cube that has two dimensions, say A and B. I have two elements in A, Client and Year, and one in B, which is called Value. In the code, I write this to be able to update the value:

with TM1Service(address="localhost", port=PORT, ssl=True, user="USER", password="PASSWORD") as tm1:
        tm1.cells.write_value(value=client, cube_name="CUBE NAME", element_tuple =

[2021-11-08 08:57] rkvinoth commented on #641
I don't think there is an official release on this feature yet.

You will have to use the `master` branch from github. Install the master branch using the below command and then execute your code:
`pip install https://github.com/cubewise-code/tm1py/archive/master.zip --upgrade`

[2021-11-08 14:06] elcinsayin commented on #642
Value is type string. I have the Value element in my Measure dimension. Can you explain what do you mean by not being available?

[2021-11-08 14:57] rkvinoth commented on #642
Are you creating this dimension on the fly using python script?
If yes, are you sure the dimension and the element got created before updating the cube?
If no, how can I replicate this issue of yours (can you share your code and cube's metadata)?

[2021-11-08 16:10] elcinsayin commented on #642
I created the dimensions and the cube manually before I write the code.

It is difficult to replicate the exact same situation since it is a very model-spesific code in which I retrieve and write data in different cubes. But I believe you can replicate the issue by having the following:

I have a cube called Google Sheet, in which I created a view which is also called Google Sheet. I have two dime

[2021-11-08 17:17] rkvinoth commented on #642
ahhh man how did I miss this!
Python `set` is unordered, use a `list` instead.
`tm1.cells.write_value(value=client, cube_name="CUBE NAME", element_tuple = ["Client", "Value"])`

[2021-11-09 07:24] elcinsayin commented on #642
Thank you so much for your help, it works now.

[2021-11-09 07:24] #642 closed

[2021-11-09 21:13] MariusWirtz commented on #641
I can confirm. It's not officially released to PyPI yet. We are aiming for a release at the end of Q4.
Hopefully with some other good features like #612.

For the moment, to use this feature you need to upgrade to the master branch as @rkvinoth suggested.

[2021-11-09 21:14] MariusWirtz commented on #640
@elcinsayin
is this problem solved?

[2021-11-09 21:53] elcinsayin commented on #640
No, but I figured out another way to do the same thing.

[2021-11-09 23:08] gbryant-dev commented on #162
I know this is quite an old thread but do we think it’s worth having this as an option in TM1py for operations that result in a large response e.g cellsets?

From what I’ve seen, using compact json can reduce the size of the response by 60-70%.

I would be happy to raise a PR for this and outline some options on how this could be implemented.

[2021-11-10 02:16] rclapp commented on #162
I think it would be great, I know it can speed stuff up.

Sent from my mobile phone

On Nov 9, 2021 5:09 PM, gbryant-dev ***@***.***> wrote:

I know this is quite an old thread but do we think it's worth having this as an option in TM1py for operations that result in a large response e.g cellsets?

From what I've seen, using compact json can reduce the size of the response by 60-70%.

I would be h

[2021-11-10 09:52] MariusWirtz commented on #162
@gbryant-dev,
Absolutely worth it! That would be a very useful enhancement to TM1py.
Thanks for picking it up!

[2021-11-10 09:52] #640 closed

[2021-11-10 09:52] #641 closed

[2021-11-10 09:53] #629 closed

[2021-11-10 09:53] #609 closed

[2021-11-14 17:24] gbryant-dev commented on #162
Here's the PR #644

[2021-11-19 11:15] cubewise-gng opened #645 "Get subsets used by MDXView"
**Describe what did you try to do with TM1py**
Would like to copy a MDXView that uses subsets to a target server.

**Describe what's not working the way you expect**
In TM1py how do I identify what Subsets are being used in an MDXView?
My attempt in copying just the MDXView will fail unless the underlying subsets are copied first.

[code]

**Version**
- TM1py 1.8.0

**Additional context**
Error me

[2021-11-19 11:43] rkvinoth commented on #645
view migration is really a hectic thing.

Can you make sure that the subsets in the source instance (in the source view) exist in the target instance and those subsets are having all the required elements as well?

[2021-11-21 18:55] MariusWirtz commented on #645
Hi @cubewise-gng,

For native views, it is easy to find the referenced subsets.
For MDX views one has to resort to regular expressions.

Here is a sample. The sample assumes that the `Tm1SubetToSet` syntax is used instead of the short notation `[d1].[s1]`.
The sample also assumes that hierarchies are not used. Probably to regular expression could be improved too.

[code]

If you want to go down th

[2021-11-21 23:04] cubewise-gng commented on #645
Thank you that is exactly what I wanted to retrieve subset names from the MDXView.

[2021-11-22 19:44] MariusWirtz commented on #604
Closed with https://github.com/cubewise-code/tm1py/pull/612

[2021-11-22 19:44] #604 closed

[2021-11-23 00:36] #645 closed

[2021-11-30 09:11] drerrolb opened #647 "Error message 'NoneType' object has no attribute 'text' was encountered"
**Error**
I've developed a python application with TM1py and am successfully reading from cubes.  However, when I deploy this application to http://pythonanywhere.com for testing, using the exact same code, I get the error message " Error message 'NoneType' object has no attribute 'text' was encountered" at the point where the TM1Service is instantiated.

    try:
        with TM1Service(**config[

[2021-11-30 10:33] MariusWirtz commented on #647
Hi @drerrolb,

this error happens when the requests library returns None instead of a response. We actually fixed the handling of this situation  few weeks ago, but we haven't release it to PyPI yet.
https://github.com/cubewise-code/tm1py/commit/a42753efd089f8179213596f0ce38001d53822c0

if you are looking for a more helpful error message, please upgrade to the current master branch:
[code]

Howeve

[2021-11-30 10:37] rkvinoth commented on #647
@MariusWirtz  I typed all this, so I'm just going to put it there :P

@drerrolb
This unhandled error has been fixed in the lasted **master** branch. You can upgrade to it using `pip install https://github.com/cubewise-code/tm1py/archive/master.zip --upgrade`
I'm not sure how you can do this in that website (never used that website before).

Coming back to your issue, it means that the connection t

[2021-12-02 09:40] cubewise-gng opened #648 "execute_set_mdx member_properties"
**Describe what did you try to do with TM1py**

Getting attribute values using the following function
tm1.elements.execute_set_mdx(mdx=mdx, member_properties=['Name', 'Attributes/Short Name'])

**Describe what's not working the way you expect**

The attribute name contains space causes an error. The function was not case insensitive.
Also where can I find details on what are the available member_p

[2021-12-02 10:34] MariusWirtz commented on #648
Hi @cubewise-gng,

thanks for bringing this up. I made a few changes to the `execute_mdx_set` function.

Now spaces are removed from the attribute names before TM1py sends a request to TM1.
I improved the docstring to list the potential properties that can be retrieved on the member, parent, element level and added some tests for the function as well.

Please upgrade to the feature branch and test

[2021-12-02 22:10] cubewise-gng commented on #648
Thanks @MariusWirtz tested the feature branch and it worked as expected.

[2021-12-02 22:11] MariusWirtz commented on #648
Thanks! Then I will merge it.

[2021-12-02 22:11] #648 closed

[2021-12-03 08:54] #647 closed

[2021-12-03 12:30] cwcibo opened #651 "Skip rule calculated cells when writing"
When the TM1py script writes the data to a cube with tm1.cells.**write** but some cells are rule calculated, the scripts fails with an error.
It would be useful to have an argument to the **write** method to skip the blocked cells (like **SkipNonUpdateable=True**) and do a check similar to **CellIsUpdateable**.
If the argument is False or not provided, the script should act as of now.

**Version**

[2021-12-03 21:27] drerrolb commented on #647
Thanks @MariusWirtz and @rkvinoth for the response.

Yes, as expected, I've confirmed that the http://pythonanywhere.com site restricts outbound requests on their free accounts.

Thank you also for your time and effort developing TM1py.

[2021-12-04 15:28] gbryant-dev commented on #651
Hi @cwcibo,

There's no REST API equivalent of the CellIsUpdateble TI function. You have to retrieve information about the cells and filter out the ones that aren't updateable before attempting to make updates. In addition, if one or more cells in the update fails then all of the updates in that batch fail.

I think there are a couple of things that could be done to facilitate this:

- When you ex

[2021-12-05 13:11] MariusWirtz commented on #651
Hi @cwcibo,

thanks for proposing this feature. I agree it would be quite handy.

Thanks for your thoughts on this one @gbryant-dev.
The `increment: bool` argument in the `write` function works in a similar fashion, as to what you suggested.

If `use_ti` is `True`, we would have to include the `CellIsUpdateable` check in the `write_through_unbound_process function`.
If `use_ti` is `False` we would

[2021-12-05 21:18] MariusWirtz commented on #647
Thanks for confirming!

[2021-12-08 09:46] MariusWirtz opened #652 "Simplify TM1Service initiation based on `base_url` and `session_id `"
When `base_url` is provided, the `ssl` argument should be optional.

[2021-12-08 10:08] yali77 opened #653 "Documentation is empty"
Hello,

it seems, that the documentation ist empty. Does anyone know the reason? Where can I find the latest version?

https://buildmedia.readthedocs.org/media/pdf/tm1py/latest/tm1py.pdf

Many thanks!

[2021-12-08 10:28] MariusWirtz commented on #653
Here is a link to the latest documentation that was generated successfully
https://tm1py.readthedocs.io/en/stable/

I will look into why it failed to generate on the latest release.
However, in my opinion, a good IDE (e.g., PyCharm) that offers autocompletion and shows you the docstrings on functions can substitute a classic PDF documentation.

[2021-12-09 11:15] gbryant-dev commented on #651
@MariusWirtz I'm happy to pick this one up if you or @cwcibo are not already looking at it?

[2021-12-09 12:36] MariusWirtz commented on #651
Thanks, @gbryant-dev!
Dmitry wanted to look into this one. Maybe check with him shortly before you start developing.

[2021-12-09 13:30] elcinsayin opened #654 "TI processes not passing parameters to one another when triggered by Python"
I have a python script that triggers a process which has no parameter, and it works fine. However, when I added the lines

cProcess = GetProcessName( );
cProcessReference = cProcess |'_'| TimSt( Now, '\Y\m\d\h\i\s' );
cParameterValues = 'pClient:'|CellGetS('Google Sheet', 'Client', 'Value')|' , pYear:'|CellGetS('Google Sheet', 'Year', 'Value');
ExecuteProcess('sys.Process.Logs.Start','processname'

[2021-12-09 13:40] MariusWirtz commented on #654
If you call an unbound process from TM1py, the process name of the called process is an empty string.

so that means the value for cProcess is ''
[code]
Could this be the problem?

[2021-12-09 13:53] elcinsayin commented on #654
Exactly. That is the issue. It is a empty string. Is there a way to fix that?

[2021-12-09 13:54] elcinsayin commented on #654
Exactly, that is the issue. Is there a way to fix it?

[2021-12-09 14:08] elcinsayin commented on #654
Other than hardcoding the name of the process?

[2021-12-09 14:09] MariusWirtz commented on #654
Please post the python code too. I will take a look.

[2021-12-09 14:12] elcinsayin commented on #654
It's a very long script. Which part do you need exactly?

[2021-12-09 14:25] yali77 commented on #653
Huge thanks for quick response. That link works.
And thanks for the tipp reading definitions in IDE directly.

[2021-12-09 14:25] #653 closed

[2021-12-09 16:34] MariusWirtz commented on #654
Change it to this and it should work:

[code]

[2021-12-09 19:04] tm1py opened #655 "How to pass function parameter value inside MDX Query"
Hi,

I need to PASS parameter values inside the MDX. See attachment for the example. How could i do that? Is there a way to do it?

[code]

**Output:**

[code]

I would like to see [division].[CHC] to be populated in first row of MDX.

Please Advise.

Thank You
Dharav

[2021-12-09 19:21] rclapp commented on #655
This is more of a general python question than an MDX question. I recommend you look at stack overflow for this. This article will help too https://realpython.com/python-f-strings/

From: tm1py ***@***.***>
Reply-To: cubewise-code/tm1py ***@***.***>
Date: Thursday, December 9, 2021 at 11:05 AM
To: cubewise-code/tm1py ***@***.***>
Cc: Subscribed ***@***.***>
Subject: [cubewise-code/tm1py] How to pa

[2021-12-09 22:27] MariusWirtz commented on #655
Agree with @rclapp. It's a pure python problem.
There are different ways to implement string formatting in python but I'm also a fan of f-strings.

If you are looking for a more sophisticated way to build MDX queries with python you can also check out mdxpy.
https://github.com/cubewise-code/mdxpy

[2021-12-09 22:27] #655 closed

[2021-12-10 09:20] elcinsayin commented on #654
Ok, I replaced it with the code you've sent. However I cannot check whether if it's working or not since somehow when I run the process that triggers the python script, I see that in the sessions, the ExecuteWithReturn is waiting, therefore the process never ends since that piece of code is in the beginning of the script. I think it was also a problem with ExecuteProcessWithReturn.
![wait](https:/

[2021-12-10 09:26] elcinsayin commented on #654
OK, I replaced it with what you've sent, however I cannot check whether if it's working or not since when I run the process that triggers the python script, I checked the Sessions and realized that it was waiting on ExecuteWithReturn, therefore process never stops. Because ExecuteWithReturn is in the beginning of the python script. I also think that was an issue with ExecuteProcessWithReturn as we

[2021-12-10 09:30] MariusWirtz commented on #654
As a rule of thumb, the TI process that executes python through `ExecuteCommand` shouldn't acquire any locks before calling python.

Can you make the `Sys.TimeAllocationExport.GoogleSheet` process less invasive in terms of locks?

[2021-12-10 09:33] MariusWirtz commented on #654
Going back to your original question, if you want to use unbound processes and change:

[code]

to:

[code]

It may perhaps solve your original problem.

[2021-12-10 09:37] elcinsayin commented on #654
Yes, I have changed it once I have changed the execute_process_with_return to execute_with_return.

The Sys.TimeAllocationExport.GoogleSheet only includes a couple of lines that lead to ExecuteCommand. There isn't much in there either. I'm not quite sure what you mean by locks.

[2021-12-10 09:39] elcinsayin commented on #654
Yes, I have changed it, it works fine that way.

The Sys.TimeAllocationExport.GoogleSheet only includes a couple of lines that lead to ExecuteCommand. There isn't much in there either. I'm not quite sure what you mean by locks.

[2021-12-10 09:42] MariusWirtz commented on #654
So the original problem is solved? Happy to hear that.

Locks are the reason why the two processes block each other. Both threads acquire a lock on the same object. That creates a deadlock. If the first process had never acquired a lock there would be no deadlock.

<img width="925" alt="image" src="https://user-images.githubusercontent.com/15182131/145552500-4384d318-14fc-4243-9110-7eae5f3ab4bb.pn

[2021-12-10 09:44] elcinsayin commented on #654
Yes, thank you so much for that.

I will look into the locks today.

[2021-12-10 09:45] #654 closed

[2021-12-10 16:32] tm1py commented on #655
Thank You Marius and Ryan.
![image](https://user-images.githubusercontent.com/95880470/145608222-81e82e46-abb1-4ac9-a30c-f314bdeb1510.png)

I handle string as highlighted in the image and it works.

[2021-12-12 17:43] tm1py commented on #655
Ryan - Thanks for reference URL. I went through f strings and this approach looks much cleaner.
Marius  - I started liking f string as we can pull out more than just a parameter string.

Thank You fellas !!

[2021-12-13 20:25] dmillerksu opened #656 "error with write_dataframe_async in Jupyter lab"
I was testing out the write_dataframe_async function in a Jupyter notebook, but received an error stating an asyncio loop was already running.

RuntimeError: asyncio.run() cannot be called from a running event loop

After doing a little more research, it appears that Jupyter (iPython) keeps a running asyncio event loop.  The function worked fine in a .py file through VS Code and pycharm.

I also r

[2021-12-14 07:23] MariusWirtz commented on #656
Hi @dmillerksu,

thanks for reporting the issue!
I agree it would be nice to have it working the same. We will look into this.

[2021-12-17 18:58] #652 closed

[2021-12-22 22:35] #651 closed

[2021-12-23 12:57] cubewise-gng opened #659 "execute_mdx_values() skip_zeroes"
**Describe what did you try to do with TM1py**
Tried to get the populated values only by running execute_mdx_values().
I was looking for the skip_zeros parameter but it was not there for this function.

**Describe what's not working the way you expect**
The data I queried returned a lot of empty values in the list which required me to filter.
Could this function also have the helpful common parame

[2021-12-23 21:42] MariusWirtz commented on #659
I agree. We should offer `skip_zeros` for the function. Feel free to open a Pull Request for the feature.

[2022-01-06 20:08] marmar1020 opened #661 "TM1py to TM1 server connection"
Hello All,

I am using TM1py to connect to a TM1 Server. I am unable to establish a connection, please see the code and error produced below.

Code:
import TM1py
from TM1py import TM1Service

A1="XX.XX.X.X"
A2=XXXXX
A3="CompanyAD/My Name"
A4="Password"
A5=True
Tm1= TM1Service(address=A1, port=A2, user=A3, password=A4, ssl=A5)

Error upon execution:
-------------------------------------------------

[2022-01-06 20:13] rclapp commented on #661
TM1 does not expect user names to be prefaced with the domain, you can remove the CompanyAD from the user name. Instead that needs to be passed as the namespace.

From: marmar1020 ***@***.***>
Reply-To: cubewise-code/tm1py ***@***.***>
Date: Thursday, January 6, 2022 at 12:09 PM
To: cubewise-code/tm1py ***@***.***>
Cc: Subscribed ***@***.***>
Subject: [cubewise-code/tm1py] TM1py to TM1 server conn

[2022-01-06 20:41] marmar1020 commented on #661
Hi rclapp,

I updated by removing the CompanyAD from the user name, but no luck (see below). Question, where would the namespace parameter go? Upon researching, all I've come across are the 5 parameters needed to connect i.e. setting Tm1= TM1Service(address=A1, port=A2, user=A3, password=A4, ssl=A5).

import TM1py
from TM1py import TM1Service

A1="XX.XX.X.X"
A2=XXXXX
A3="FirstName LastName"
A4="Wi

[2022-01-06 21:28] rclapp commented on #661
There is another named parameter in the TM1 service

TM1Service(address=my_address, port=my_port, user=my_user, password=my_password, namespace=my_namespace, ssl=my_ssl)

From: marmar1020 ***@***.***>
Reply-To: cubewise-code/tm1py ***@***.***>
Date: Thursday, January 6, 2022 at 12:42 PM
To: cubewise-code/tm1py ***@***.***>
Cc: "Clapp, Ryan" ***@***.***>, Comment ***@***.***>
Subject: Re: [cubewise

[2022-01-06 21:47] marmar1020 commented on #661
Thanks for the info.

Updated my connection as shows but still no luck.

import TM1py
from TM1py import TM1Service

A1="XX.XX.X.X"
A2=XXXXX
A3="FirstName LastName"
A4="Password"
A5="CompanyAD/FirstName LastName"
A6=True
Tm1= TM1Service(address=A1, port=A2, user=A3, password=A4, namepace=A5, ssl=A6)

Results
---------------------------------------------------------------------------
TM1pyRestExcept

[2022-01-06 22:20] rclapp commented on #661
Your values are not correct. It should be the same way you login to any other TM1 Interface

Namespace should come from Cognos, so something like “Cognos” or “MyCompanyDomainName”.

User should be just that your user name, look at the clients dimension (it should be the display value not the CAM ID)

From: marmar1020 ***@***.***>
Reply-To: cubewise-code/tm1py ***@***.***>
Date: Thursday, January 6

[2022-01-07 18:38] marmar1020 commented on #661
Rclapp,

Ok, updated to the correct connection, CAM with SSO (IntegratedSecurityMode 5).

Ran my credentials via the test script and got:

TM1 User (leave empty if SSO):
Password (leave empty if SSO): ········
CAM Namespace (leave empty if no CAM Security): XXX
Address (leave empty if localhost): XX.XX.X.X
ClientCAMURI (leave empty if no SSO): http://xxxx.xxxx.net:80/xxxx/xx/xx/disp
HTTP Port (Def

[2022-01-07 21:38] marmar1020 commented on #661
First off, thank you for your support rclapp.

Just wanted to update. I was able to successfully connect.  What solved my issue, "RuntimeError: Failed to authenticate through CAM. HTTP response does not contain 'cam_passport' cookie", was getting the correct namespace from the server admin.

Connecting via CAM with SSO (IntegratedSecurityMode 5) was successful.

[2022-01-07 21:38] #661 closed

[2022-01-09 14:17] marmar1020 opened #662 "Getting all the views from a TM1 cube"
Hello All,

I was searching around the samples folder but was successful. Is there a way to (1) get all the view from a TM1 cube (2) get a list of TM1 cube from a server?

Attempting to get a list of views in a cube as coded:

 with TM1Service(address="XX.XX.XX.X", port=XXXX, ssl=True, namespace="XXX", gateway="http://xxxxx:x0/xxxx/xx/xx/disp") as tm1:
    print(TM1py.ViewService.get_all('CubeName

[2022-01-09 20:16] gbryant-dev commented on #662
Hi @marmar1020,

The problem is the way you're accessing the `ViewService`.  It should be accessed through the `TM1Service` e.g `tm1.cubes.views.get_all(cube_name)` or `tm1.views.get_all(cube_name)`

Depending on the information you're after, you can either use the `get_all_names` functions or `get_all`. Some examples below.

[code]

Hope this helps.

George

[2022-01-10 06:32] marmar1020 commented on #662
George,

Thank you for the information. I was able to extract cube data based on your examples.

[2022-01-10 06:32] #662 closed

[2022-01-12 06:11] joetm1 opened #664 "Update Hierarchy does not apply changes in attribute type"
**Describe the bug**
If the type of an attribute is changed on the hierarchy object, it isn't updated by the update method on the hierarchy service

**To Reproduce**
Change an attribute's type and then update the dimension/hierarchy.

**Expected behavior**
A change in attribute type should be recognized and applied to the model.

**Version**
1.8.0
11.8.00900.3

**Additional context**
The code in t

[2022-01-12 14:30] MariusWirtz commented on #664
Thanks for reporting this inconsistency @joetm1. I created a fix for the issue.

Please update your TM1py version to the feature branch and check if the fix resolves the issue for you:

[code]

[2022-01-13 01:55] joetm1 commented on #664
Thanks for the lightning response!!

I’m now getting this error though:

    from TM1py.Services import TM1Service
  File "D:\Program Files\Python\lib\site-packages\TM1py\__init__.py", line 39, in <module>
    from TM1py.Services.AnnotationService import AnnotationService
  File "D:\Program Files\Python\lib\site-packages\TM1py\Services\__init__.py", line 4, in <module>
    from TM1py.Services.Chor

[2022-01-13 08:41] MariusWirtz commented on #664
Please retry. I just pushed another commit.

[2022-01-13 08:52] joetm1 commented on #664
Brilliant – works great!

Thanks Marius.

From: Marius Wirtz ***@***.***>
Sent: 13 January 2022 15:42
To: cubewise-code/tm1py ***@***.***>
Cc: Joe White ***@***.***>; Mention ***@***.***>
Subject: Re: [cubewise-code/tm1py] Update Hierarchy does not apply changes in attribute type (Issue #664)

CAUTION: This email originated outside of the organisation. Do not click links or open attachments unless

[2022-01-13 08:53] MariusWirtz commented on #664
Thanks. I will merge the changes.

[2022-01-13 08:53] #664 closed

[2022-01-13 16:41] #659 closed

[2022-01-18 13:47] VadymS77 opened #669 "Create new application, add file and set alias to it"
I need to create Folder using TM1py add to it file for example xlsx or txt and set alias to this file in Application folder
Anyone any idea how to do it correctly,
many thanks

[2022-01-18 15:07] farevian commented on #458
Hello,

Great, but in my case it work fine if application is in 1 level directory. When I try to go like 'application\rep in application\file, it dont work. But I dont know if it's because their is blank caracter in the name, or because it's a sub directory.

[2022-01-18 15:25] MariusWirtz commented on #458
Hi @farevian,

do you mean the code that I posted or the code that @scrumthing posted?
When it doesn't work, does it fail silently or does it raise an error? If so please also post the error message and the stack trace.

[2022-01-18 17:09] farevian commented on #458
Hello,
The part that faile look the same as your or  @scrumthing
I have a 404 error in RestService for the directory "UIB\\Dimension Update" (the directory where the excel file is). Message is "'UIB\Dimension Update' can not be found in collection of type 'Entry'."
Other excel file in "UIB" directory work find.
Regards

[2022-01-18 21:50] MariusWirtz commented on #458
please try this:

[code]

[2022-01-19 15:19] farevian commented on #458
Hello,

After add the * before path_parts, application_name = application_entry.split("\\") that I forgot and change the line
path="/".join(path_parts).replace(' ', ''), by path="/".join(path_parts),
It's look ok.
Thank you Marius

[2022-01-19 16:09] MariusWirtz commented on #458
Thanks! I'm not sure I understand your change though. Please post the working code for future reference.

[2022-01-19 16:16] farevian commented on #458
Ok, I will do that.

Le mer. 19 janv. 2022 à 17:09, Marius Wirtz ***@***.***> a
écrit :

[2022-01-19 16:59] VadymS77 commented on #669
I'm trying to use "update_or_create_document_from_file"
    **tm1_src.applications.update_or_create_document_from_file**(
                            path = '**Menu**',
                            name = '**Main menu**',
                            path_to_file = "D:\TM1_Models\reports\main\**Main_menu.xlsx**",
                            private=False
                        )
1. "**Menu**" doesn

[2022-01-19 22:15] MariusWirtz commented on #669
You can find a sample of how to create a folder here:
https://github.com/cubewise-code/tm1py/blob/4b0997d91174c625141f0007d3d7fa5a94616d97/Tests/ApplicationService_test.py#L242
Does that answer your first question?

What happens if you don't include the extension in the name?

[2022-01-20 09:06] farevian commented on #458
Hello,

The code I use

vserv = self.getConnexion('Source')

        application_entries =
vserv.elements.get_element_names("}ApplicationEntries",
"}ApplicationEntries")

        for application_entry in application_entries:

            *path_parts, application_name = application_entry.split("\\")

            print(f'repertoire {path_parts} applie {application_name}')

            if not applica

[2022-01-20 12:10] MariusWirtz opened #670 "Release 1.9"
It's about time for a new release that includes all the new features from Q4 2021.

[2022-01-20 15:42] VadymS77 commented on #669
Hi Marius
thanks you really helped me, first question closed, found my mistake
I added code for create folder, example
            app = FolderApplication("", "a_path")
            tm1.applications.create(application=app, private=False)

next question about extension
If I don't include extension in the name
file in ".\DATA\}externals" will be "FileDoc_2_20220120150754.blb"
if I set extension, file

[2022-01-20 20:51] marmar1020 opened #671 "Cube to dataframe - Cube' object is not callable"
Hello All,

I am trying to convert a cube to a dataframe, thereafter saving it to my desktop.  The code goes as follows:

from TM1py import TM1Service
import pandas as pd

with TM1Service(address=......) as tm1:
    c = tm1.cubes.get('CUBE')
    df = pd.DataFrame(c)
    df.to_csv(r'C:/Users/ME/Desktop/FILE.csv')

I get error:
TypeError: _**'Cube' object is not callable**_ at line df = pd.DataFrame

[2022-01-20 21:34] rclapp commented on #671
I am guessing you are trying to save data to a data frame not a cube. I recommend you read the docs on how to query data from TM1. There are methods to query a cube and store the results in a data frame. What your code is trying to do is save a cube object (rules, dimensions, dimension order, etc) to a data frame which doesn’t make sense.

From: marmar1020 ***@***.***>
Reply-To: cubewise-code/tm1p

[2022-01-21 05:25] marmar1020 commented on #671
Didn't realize I was saving the cube object as a dataframe. Thanks for the info.

[2022-01-21 05:25] #671 closed

[2022-01-21 14:42] hermie64 opened #674 "get_active_threads admin only?"
Hi,

Does get_active_threads require admin?

I was testing something and noticed that only admin can retrieve data.
Just want to be sure that this is by design and that I did not miss anything.

Thanks in advance.

[2022-01-21 18:51] rclapp commented on #674
Correct, a non admin user can only see their thread

From: hermie64 ***@***.***>
Reply-To: cubewise-code/tm1py ***@***.***>
Date: Friday, January 21, 2022 at 6:43 AM
To: cubewise-code/tm1py ***@***.***>
Cc: Subscribed ***@***.***>
Subject: [cubewise-code/tm1py] get_active_threads admin only? (Issue #674)

Hi,

Does get_active_threads require admin?

I was testing something and noticed that only ad

[2022-01-21 18:56] hermie64 commented on #674
Thanks @rclapp

[2022-01-23 20:18] #674 closed

[2022-01-24 12:47] MariusWirtz commented on #669
I'm not sure I understand the problem.

Can you not do this?

[code]

[2022-01-24 15:28] VadymS77 commented on #669
yes,
Of couse, I used this code. it doesn't work correctly if I put name='document' without extension.  (may by I do something wrong) otherwise with extension it work fine
My test environment:
TM1SERVER_APP_version=TM1SERVER_APP-AW64-ML-RTM-11.0.9.58-0
Name: TM1py, Version: 1.8.0

1) without extension
        with open(Path(__file__).parent.joinpath('resources', 'document.xlsx'), "rb") as file:

[2022-01-24 19:42] VadymS77 commented on #669
in this case, document_timestamp.blb can be open by Excel
another one case, for example, document_timestamp.blb is opening by Word, it depend what file was added by script

[2022-01-25 08:50] MariusWirtz commented on #669
If TM1py offered a function to rename an application, would that solve your problem?

I think if renaming an application was available you could create the application as you do in case 2 and then in a second step rename it to remove the suffix.
Would that solve your problem?

[2022-01-25 09:54] MariusWirtz commented on #669
OK. We will look into implementing the `rename` function.

[2022-01-27 10:24] cubewise-gng opened #676 "Write attributes on hierarchies"
**Describe what did you try to do with TM1py**
I am attempting to write attributes on hierarchies using the write function.
But am getting a TI process error.

[code]

**Describe what's not working the way you expect**
I was expecting the unbound process to execute TI function ElementAttrPutS to write the attribute values to the hierarchy instead of CellPutS.

**Version**
- TM1py 1.8.0
- TM1 Serve

[2022-01-27 19:16] MariusWirtz commented on #676
@cubewise-gng

How would the `ElementAttrPutS` code look in your sample?

[2022-01-27 22:08] rclapp opened #680 "cells get_value does not work with single hierarchy reference"
**Describe the bug**
Using cells get_value with a single hierarchy reference throws a TM1 exception due to the parsing logic not working properly.

**To Reproduce**

[code]
returns

`{'Planning vs Planning 2': 'Planning 2'}`

[code]

raises

[code]

**Version**
TM1py [1.8.0]

[2022-01-28 00:11] cubewise-gng commented on #676
Hi @MariusWirtz

The sample I am thinking is that the TI function ElementAttrPutS would be run to write attribute values against hierarchies.
[code]

These TI code would be generated by TM1py when it recognizes the colon syntax for hierarchies is being used
[code]

[2022-01-28 16:55] MariusWirtz commented on #680
Thanks for reporting the issue @rclapp

Feel free to open a PR with a fix if you need something short-term.
Otherwise, I will try to get to it next week.

[2022-01-28 17:10] MariusWirtz commented on #676
I understand.
So when writing to an `}ElementAttributes` cube and the `:` syntax is used we must not use `CellPutS` but `ElementAttrPutS`.

I think we can include this check in the `write_through_unbound_process` function.

[2022-01-30 16:31] MariusWirtz commented on #676
Hi @cubewise-gng,

I created a fix for this issue. the `write` function should now be able to write attribute values, using the colon syntax, when `use_ti` is `True`
Please upgrade to the feature branch and test if it works for you.

[code]

Thanks!!

[2022-01-31 22:28] dmillerksu commented on #670
Any idea when you're going to release 1.9?  Is there a way to download the current unreleased content?  We'd like to use the new skip_non_updateable argument for the write functions.

[2022-01-31 22:33] MariusWirtz commented on #670
You can upgrade to the current master branch on GitHub like this:

[code]

I will try to do the release to PyPI on Friday this week.

[2022-02-01 15:00] AlexanderDvoynev commented on #124
Hi @christianthieme, thanks for sharing! This worked for me with 1 extra row of code:

[code]

It looks like it takes time for Cognos to perform all the redirections, so without sleep it returns empty cookies

[2022-02-02 10:47] cubewise-gng commented on #676
Hi @MariusWirtz

Thanks you. That worked. It is now able to write to the hierarchy attributes using the colon syntax.

[2022-02-02 10:50] MariusWirtz commented on #676
Thanks for the confirmation!

[2022-02-02 10:51] #676 closed

[2022-02-06 11:24] #680 closed

[2022-02-06 18:50] MariusWirtz commented on #669
Hi @VadymS77,

please upgrade to the feature branch and verify that the rename function works for you:

[code]

[2022-02-06 20:46] #669 closed

[2022-02-08 09:08] #670 closed

[2022-02-08 11:06] macsir commented on #124
Never realised selenium can be used here. Good catch!

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Marius Wirtz ***@***.***>
Sent: Tuesday, February 8, 2022 9:01:18 PM
To: cubewise-code/tm1py ***@***.***>
Cc: Subscribed ***@***.***>
Subject: Re: [cubewise-code/tm1py] Unauthorized error while accessing tm1 cube data with tm1py (#124)

@AlexanderDvoynev<https://

[2022-02-08 13:38] VadymS77 commented on #669
Marius
a lot of thanks, we did it, works fine

example code:
        app = FolderApplication('', 'a_path')
        tm1_src.applications.create(application=app, private=False)

        with open(Path(__file__).parent.joinpath('resources', 'document.xlsx'), "rb") as file:
            app = DocumentApplication(path='a_path', name='document.xlsx', content=file.read())
            tm1_src.applications.

[2022-02-15 16:31] NickM1984 opened #688 "TM1py with Python hosted on IIS"
I am having trouble authenticating through CAM with SSO when accessing TM1 through TM1py when Python has been set up as a website on IIS.

I keep getting the following error message "Failed to authenticate through CAM. Expected status_code 200, received status_code: 401".

It works fine when I provide credentials in the config.ini file and also works fine when I run the python scripts through a co

[2022-02-16 16:25] #162 closed

[2022-02-16 17:45] zsoltmoravcsik commented on #611
It is working. but You need to install personal gateway on the server,
schedule a task then in power no you can trigger the personal gateway
refresh.
Known issue: this not enterprise ready yet base din Microsoft docs

On 2022. Feb 16., Wed at 18:08, Marius Wirtz ***@***.***>
wrote:

[2022-03-07 07:53] MariusWirtz opened #691 "Add `remove_edge` function to `ElementService`"
Allow removal of an edge as a function in the `ElementService`.

[2022-03-16 10:11] MariusWirtz commented on #691
solved with #693

[2022-03-16 10:11] #691 closed

[2022-03-17 09:47] cubewise-gng opened #696 "execute_mdx_elements_value_dict strings with double quotes"
**Describe the bug**
The function execute_mdx_elements_value_dict() returns element names with additional double quote characters if the element name itself contains double quotes.

Example.
When querying against the }ClientGroups cube which has CAM Security Groups.

The }Group element name is
`CAMID("CognosExpressActiveDirectoryID:u:f37d2aeb2aab7c4c807a036806357318")`

but the function interprets

[2022-03-17 10:43] elcinsayin opened #697 "How do I get the parent of a given element?"
I need to get the parent of a given element.

I checked the methods for elements and hierarchies but couldn't find a direct way to do so. I checked the hierarchy.edges but I cannot iterate through it since I don't have the parent name. The rest of the script is not quite relevant, so I feel like it is sufficient to mention that it retrieves an element name. I need to retrieve the immediate parent

[2022-03-17 11:01] MariusWirtz commented on #697
Hi @elcinsayin,

we don't have a function like `tm1.elements.get_parents` in the `ElementService` to retrieve the parent of an element.
Perhaps we should implement that!

However, you can already retrieve the parent of an element through the `execute_set_mdx` function.

[code]

Please bare in mind that one element can have multiple parents! In that case, the above function is not helpful, as it wi

[2022-03-17 11:03] MariusWirtz commented on #697
The more I think about it, the more I realize we are missing a `get_parents` function in TM1py.

[2022-03-17 11:09] macsir commented on #697
Yes, agreed. And that function should be efficient enough to get all parents by index with large number of elements. Similarly, to have a get children function?

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Marius Wirtz ***@***.***>
Sent: Thursday, March 17, 2022 9:03:31 PM
To: cubewise-code/tm1py ***@***.***>
Cc: Subscribed ***@***.***>
Subject: Re: [cubewise-

[2022-03-17 11:09] elcinsayin commented on #697
Thank you so much for the answer.

[2022-03-17 11:13] MariusWirtz commented on #697
Thanks for your thoughts.

For the get_children we actually have something in place. You can use the `get_leaves_under_consolidation` or `get_members_under_consolidation` functions.

[code]

[2022-03-17 11:20] macsir commented on #697
Thanks Marius will try it later

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Marius Wirtz ***@***.***>
Sent: Thursday, March 17, 2022 9:13:54 PM
To: cubewise-code/tm1py ***@***.***>
Cc: tm1sir ***@***.***>; Comment ***@***.***>
Subject: Re: [cubewise-code/tm1py] How do I get the parent of a given element? (Issue #697)

Yes, agreed. And that function should be

[2022-03-19 13:29] Redha1996 opened #700 "Load multiple json files in parrallel"
**Describe what did you try to do with TM1py**
i am trying to load data into a cube from a json file, typically it would be this:

with TM1Service(address='', user = '', password = '', ssl = , port= ) as tm1:
    with open("file.json") as fileObject:
      jsonContent = fileObject.read()
      obj_python = json.loads(jsonContent)
      cellset={}
      for i in obj_python:
        cellset[(i['Dim1

[2022-03-19 17:32] rkvinoth commented on #700
What is the error that you are receiving? If you are receiving nothing, then add some logging.

I would suggest using multi-threading over MP. Data loads are not CPU expensive work.

[2022-03-22 10:08] yyzz1010 opened #701 "`execute_set_mdx` fail to show alias element type"
**Describe the bug**
`execute_set_mdx` fail to show alias element type, only shows "String"

**To Reproduce**
1. create an alias attribute
2. using `dimensions.hierarchies.elements.execute_set_mdx` to get data

**Expected behavior**
expect showing 'Type': 'Alias' for alias attribute

**Version**
TM1py: 1.9.0
TM1 Server Version: 11.0.00204.1032

**Screenshot**
![image](https://user-images.githubuse

[2022-03-22 10:48] cubewise-gng opened #702 "Additional elements in Leaves Hierarchy"
**Describe the bug**
If there are elements in the leaves hierarchy that aren’t in any other hierarchy TM1py needs to create them explicitly.

**To Reproduce**
Source dimension to have additional elements in the Leaves hierarchy and not in any other hierarchies.
TM1py read the dimension and create a new copy of the dimension.
The resulting dimension will be missing the additional elements in the Le

[2022-03-22 22:59] jrobinsonAG commented on #701
Hi @yyzz1010

Are you looking specifically for the Alias elements, either to include or exclude them? Or handling all attributes by type?

To get a list of Alias attributes for a given dimension hierarchy
[code]

To get all attributes including the type for a dimension hierarchy you can use
[code]

[2022-03-23 03:00] yyzz1010 commented on #701
`get_element_attributes` helps! thank you @jrobinsonAG =D

[2022-03-23 03:00] #701 closed

[2022-03-23 14:36] MariusWirtz commented on #700
Hi @Redha1996,

multiprocessing is definitely the right approach.
You don't have to do parallelization yourself though and you need to make sure to parallelize the "right" function.

Regarding the different write functions in TM1py:
If you are looking for maximum performance you may want to use the `write` function with `use_ti=True`.
If multithreading is possible in your environment, you can also

[2022-03-23 17:21] MariusWirtz commented on #702
Nice one. Thanks for the catch! We missed this edge case.

I created a fix. Please let me know if works for you:

[code]

[2022-03-23 20:14] MariusWirtz commented on #696
I created a fix. Please let me know if works for you:

[code]

[2022-03-24 12:06] cubewise-gng commented on #702
Thanks that worked!

[2022-03-24 12:18] cubewise-gng commented on #696
Thanks that worked.

[2022-03-24 13:53] #696 closed

[2022-03-24 13:53] #702 closed

[2022-03-24 21:32] Frank-Ruta opened #705 "ExecuteCommand not committing data"
Hi there,

I have created a python script that creates mapping values based on some logic and then writes the data into a mapping cube in PA. Everything works perfectly when executing the script through a command line and also when running it as a batch file. I've pasted the simple batch file below. The issue is that when running through a TI via ExecuteCommand, the data does not write to the cube

[2022-03-24 21:48] rkvinoth commented on #705
When you run your script from command prompt or trigger it via batch script, you are running it using your credentials/ your account/ your login (what ever you wanna call it).

But when you call it via a TI process using `ExecuteCommand`, it is the account that is running the TM1 service will be calling the python script. So, does this account have the required access?

[2022-03-24 21:57] Frank-Ruta commented on #705
Amazing, thank you! That was the issue. We switched service accounts on our dev server recently and it did not have proper access to write in PA.

[2022-03-24 21:57] #705 closed

[2022-03-30 17:23] MariusWirtz opened #707 "Update rules of a cube is unnecessary complex"
Currently

[code]

Ideally you could just assign a str as the rules property of the cube and the `Cube` class should manage the assignment accordingly.
Kinda like this:

[code]

[2022-04-06 15:59] MariusWirtz opened #709 "Optimize `write_through_unbound_process` through use of `WithProcess`"
Instead of calling n unbound processes sequentially from python, we could call one process with n subprocesses.

The `ExecuteProcessWithReturn` action allows to pass a collection of the additional unbound process with your main unbound process through the parameter `WithProcess`.

The processes passed in the WithProcess collection can be called from the main unbound process through `ExecuteProcess

[2022-04-06 17:26] #707 closed

[2022-04-11 11:52] Hubert-Heijkers commented on #709
@MariusWirtz just for correctness, it's a max of 256*8*8 (don't ask why it's defined that way;-) or 16k statements.

[2022-04-11 15:28] MariusWirtz commented on #709
Now I'm curious! A max of 25688 lines you mean?

At this moment, when we squeeze 16k in the prolog and another 16k in the epilog the process still executes fine.

[2022-04-14 22:32] scotthoopes opened #713 "Create View for Data Processing"
**Describe what did you try to do with TM1py**
First, I want to apologize for this newbie question! I feel like what I am trying to do is fairly basic. But I can't seem to find any documentation on what I am wanting to do.

In a basic TI in the Prolog section you can create view that is used as the data source.

Once the TI hits the Data section it loops through that view (all dimensions at the le

[2022-04-19 11:50] MariusWirtz commented on #713
Hi @scotthoopes,

you can use the `execute_view_dataframe` function to retrieve the content of a cube view as a dataframe.
Once you have a dataframe you can directly create a csv or an xlsx file from it:

[code]

Does that answer your question?

You can also read the content of a cubeview as a csv directly with the `execute_view_csv` function

[code]

[2022-04-20 04:33] scotthoopes commented on #713
Hi @MariusWirtz thanks for the response. I have done the Pandas dataframe and the issue that I am having is that when I am processing it is only showing me the current view rather than all of the combinations of values.

For example, here is a screenshot of the view once it is created in our TI by `ViewCreate`:
![Screen Shot 2022-04-19 at 4 13 01 PM](https://user-images.githubusercontent.com/25986

[2022-04-20 22:12] MariusWirtz commented on #713
Hi @scotthoopes,

it should be no problem to produce this with TM1py using the `execute_view_dataframe` function.
![image](https://user-images.githubusercontent.com/15182131/164332988-e1fb9e92-e548-4a81-aba8-a050a1f3bee5.png)

Possibly TM1py is more sensitive to the rows-columns setup of the view.
I think when you create the cube view, you would have to explicitly place Dim1, Dim2, and Dim3 on row

[2022-04-22 07:04] grandryjn opened #714 "Authentication through gateway: missing dependency requests_negotiate_sspi.HttpNegotiateAuth"
Hi,

I need a bit of help.
I am connecting to a TM1 instance using gateway, when doing so I am facing an issue when trying to login.

I have the following error message.
RuntimeError: SSO failed due to missing dependency requests_negotiate_sspi.HttpNegotiateAuth. SSO only supported for Windows

I am on windows, I am not too sure how to get the missing dependency.
I tried to upgrade the package req

[2022-04-22 07:16] MariusWirtz commented on #714
Perhaps you have two versions of Python installed on the machine and you installed the package on a different one that's used to run the script.

When you run the script you can be explicit about the python interpreter:
`C:/python3/python.exe C:/py_projects/my_script.py`

To verify if the package is installed you also be explicit about the pip:
`C:/python38/scripts/pip.exe show requests_negotiate_

[2022-04-25 19:55] scotthoopes commented on #713
@MariusWirtz Thanks for the feedback. I think the answer for my main question is to suppress zeros and to build a view that will include all of the leaf level elements.

For the example you gave at the end of sending in a consolidation then creating an MDX view for the leaf children. Is there is a good resource to learn about that? A script in the Samples perhaps?

[2022-04-25 23:05] grandryjn commented on #714
Unfortunately I still have the same issue when specifying the python path, and the package seems to be installed properly.

[code]

[2022-04-25 23:12] cubewise-nswan commented on #714
It looks like Python has been installed under a single-user install with the packages sitting in the roaming directory. Could you reinstall Python, installing under C:\Python38\, this will allow all users on the PC/Server to access the Python executable

[2022-04-25 23:23] grandryjn commented on #714
My python installation folder and PATH are located into C:\Program Files\Python39 but I see that the library sits in C:\user...

Probably running my pip commands from VS code terminal is not helping.
I'll give a go to reinstall stuff properly.

Even though it's on my laptop (single user) I'll try to get things installed properly.

[2022-04-25 23:32] grandryjn commented on #714
Reinstalled python (3.10) into the folder c:\python310.
Ran Pip from proper command line and check where it is insaled.

[code]

Unfortunately I still have the same issues...
At least I have updated my python version and cleaned my installation.

[2022-04-26 04:11] rkvinoth commented on #714
This doesn't seem to be an issue with `TM1py`.

You can try the following steps:

1. Uninstall any previous version of python as an ADMIN
2. Make sure that all the python files are gone (deleted)
3. Reinstall python (stable version) as an ADMIN
4. Install all the required packages (`requests-negotiate-sspi` will get automatically installed when you install `TM1py`, but double check it) as an ADMIN

[2022-04-26 04:42] grandryjn commented on #714
Actually my bad, the re-install did work and updated to the following error now.

I guess now this is more an error with the connection details I am providing...

[2022-04-26 04:58] rkvinoth commented on #714
Right, to help you further we will need those connection details (not the exact value but the parameters you are passing)
You can alternatively go through previously closed issues here.

[2022-05-04 16:05] tobiaskapser opened #715 "'use_iterative_json' when loading a view to a data frame produces wrong output"
**Describe the bug**
When using the functions `execute_mdx_dataframe()` or `execute_view_dataframe()` from the Cells-Service I get the wrong output in my DataFrame with the following parameters in the function call: `use_iterative_json=True`  and `skip_zeros=False`.
The addresses for the cells are not set properly in this case and contain the same element for each value.

**To Reproduce**
For the

[2022-05-08 21:24] MariusWirtz commented on #713
Hi @scotthoopes,

this post should help you with the parametrization of the query:
https://cubewise-code.github.io/tm1py-tales/2022/dynamic-tm1-queries-with-mdxpy.html

[2022-05-08 21:24] #713 closed

[2022-05-08 21:26] MariusWirtz commented on #715
Thanks for reporting the issue. Very much appreciated. I will look into it this week.

In the meantime, in case you are looking for a quick solution, does the script fail if you place selections on both axes?
I'm asking because currently you have all selections on the columns and this is likely the reason why this error slipped through our testing.

[2022-05-08 21:27] #714 closed

[2022-05-13 08:07] #715 closed

[2022-05-13 08:10] MariusWirtz commented on #715
Hi @tobiaskapser,

I created a fix for the issue. Please upgrade to the latest master branch and verify that the issue is resolved.

[code]

[2022-05-13 09:14] tobiaskapser commented on #715
Hi @MariusWirtz,

yes, it's working fine now.  Thank you for the fast response!

[2022-05-13 10:13] tobiaskapser opened #718 "Pandas ParserError and shifted dataframe columns when executing MDX dataframe with attributes"
**Describe the bug**
When using the function `execute_mdx_dataframe()` from the Cells-Service with the parameter `include_attributes=True` pandas throws an `pandas.errors.ParserError` is some cases. In other cases a dataframe with shifted columns is returned.

**To Reproduce**
For the GO_Scorecards-Cube from the 'GO_Scorecards' sample system I define the following MDX:
[code]
and execute the view

[2022-05-13 10:16] tobiaskapser commented on #718
Seems like it could be related to #507

[2022-05-13 10:16] MariusWirtz commented on #718
Possible duplicate of https://github.com/cubewise-code/tm1py/issues/507

Can you try to specify the attribute you want explicitly in the MDX and see if it resolved the issue?

[2022-05-13 10:17] MariusWirtz commented on #718
@tobiaskapser feel free to solve #507. It's been on my list for a while but I haven't gotten to it yet.

[2022-05-13 11:01] tobiaskapser commented on #718
Yes, I'll look into it if I find some time in the next few days 😄

[2022-05-18 09:18] cubewise-gng opened #719 "Resave mdx view to native view"
**Describe what did you try to do with TM1py**
Is there a way to resave a mdx view to a native view?

The conversion would be for a simple mdx view without hierarchies
so that the view can be shared and run on the older TM1 client - Perspectives.

**Version**
- TM1py 1.9.1

[2022-05-18 18:11] sbethea-cw opened #720 "Error with write function when element name has colon (:)"
**Describe the bug**
When writing attribute cube values using cells.write() function for an element with a colon ':' in the element name, I receive message::
TM1py.Exceptions.Exceptions.TM1pyWriteFailureException: All 1 write operations failed. Details: ['TM1ProcessError_20220518180218_69674192_.log']
The log file appears as if TM1py parses the element name at the colon ':' and then does not recog

[2022-05-19 11:43] jjcreniers commented on #554
I would also like to import a ragged hierarchy from TM1 to Power BI. The account structure in TM1 is ragged and I would like to be able to drill down in Power BI using this structure. Is there a way to do this? As I understand correctly, what you describe is to create a view for each roll-up level and then combine those in the Power BI model afterwards?

[2022-05-19 14:32] MariusWirtz commented on #554
Ragged hierarchies (= hierarchies with leaves on multiple levels) are not a problem.
Just follow the guide.
https://code.cubewise.com/tm1py-help-content/getting-tm1-data-into-power-bi

When you query a hierarchy TM1py will give you a dataframe with a column for the element name and a column for each level/parent all the way to root (=total).
Based on that table/dataframe you can create a PBI Hiera

[2022-05-19 15:29] jjcreniers commented on #554
Thank you for your response Marius! I do have multi-parent relationships, does this mean I would for example create a view for each roll-up?

[2022-05-20 14:51] MariusWirtz commented on #554
Please check out the article I posted above above.
You need to bring data and hierarchies in separate queries.
You query ONE cube **view** for the data (per cube). Then you query as many hierarchies or rollups as you want to aggregate data in PBI.

PBI does your aggregations according to the data and the hierarchies you bring across.

[2022-05-20 15:22] MariusWirtz commented on #720
Hi @sbethea-cw,

strange. I can't reproduce the error. For me this executes fine:

[code]

Can you upgrade to the current master branch and retry?

[code]

[2022-05-20 15:42] sbethea-cw commented on #720
Hello,

I upgraded to the latest master branch as you suggested and it did not seem to help.  I received the same error.

If it helps, below is the code I am running to sync attribute values.  Maybe it has something to do with the element_names_from_element_unique_names() function:

def sync_attrval(tm1_source, tm1_target, dim_src, dim_tgt):
    dim_src_exists = tm1_source.dimensions.exists(dim_sr

[2022-05-22 19:55] MariusWirtz commented on #720
Hi,

I created a fix for the issue.
If you are explicit about the hierarchy it should work now.

[code]

Please upgrade to the hotfix branch: `https://github.com/cubewise-code/tm1py/archive/refs/heads/issue/colon-in-element-names-breaks-attribute-write.zip`:

[code]

[2022-05-23 10:06] MariusWirtz commented on #720
In your case, assuming that alternate hierarchies are not used, you can alter the code to make the tuples hierarchy explicit like this:

[code]

[2022-05-24 11:47] adscheevel opened #725 "new feature: ProcessDebugBreakpoint"
I've been doing some work on a ProcessDebugBreakpoint object and additional methods in ProcessService for process debugging. It's not yet ready for a pull request to the master branch and honestly it would benefit from some community review, refactoring, and add-on development. I figured it'd be better to iterate through that in a separate branch instead of a flurry of changes on the master after

[2022-05-24 12:41] #720 closed

[2022-05-24 14:52] MariusWirtz commented on #725
Hi @adscheevel,

Happy to review and contribute.

I pushed a new branch to remote: `feature/process-debug-breakpoint`.
It is based on the current master branch. Feel free to open a PR into this branch.

[2022-05-24 19:58] #725 closed

[2022-05-24 19:58] adscheevel commented on #725
Great thanks, submitted initial PR.

[2022-05-26 10:00] MariusWirtz opened #728 "`get_all_leaf_element_identifiers` fails if the attribute cube doesn't exist"
Instead of failing it would be more reasonable if TM1py simply returned the leaf element names.

[2022-05-29 04:32] cubewise-gng opened #729 "Retrieve attribute value unsupported token +"
**Describe the bug**
Running function execute_set_mdx() to retrieve attribute value called "Code + Description" fails because of the '+' character.

**To Reproduce**
Alias attribute name with '+' character. eg "Code + Description"

**Version**
TM1py 1.9.1
TM1 Server Version: 11.8

**Additional context**
[code]

[2022-05-29 17:08] MaaYuu opened #730 "Function to replace DimensionElementPrincipalName"
**Describe what did you try to do with TM1py**

I just want to replicate the use of **DimensionElementPrincipalName** function in Tm1py.
I could replicate it by fetching ElementAttributes cube values, and revert to principal name only specifying specific alias name.
This function do not need to specify any alias name, so is there any way to replicate this by not specifying any alias name?

**Descr

[2022-05-30 04:21] rkvinoth commented on #730
Use the element's `get` method. The response should give you the principal name.

In the below example - `Jan-2022` is an alias for `202201`
[code]

[2022-05-30 07:41] MariusWirtz commented on #730
Hi @MaaYuu,

Yes. I wanted to suggest the same thing as @rkvinoth.

@MaaYuu I think you could write a wrapper around the `get` function in the `ElementService` and call it something like `get_element_principal_name`. It wouldn't save people much code but it's perhaps more obvious and readable than the current approach that @rkvinoth suggested.

[2022-05-30 07:55] MaaYuu commented on #730
Hi @rkvinoth . I will try this function.

@MariusWirtz , I made a change just copying `get` function. Please check, maybe it is not what you meant for.

[2022-05-30 08:00] MariusWirtz commented on #730
Hi @MaaYuu,

I understood you wanted to create a new function in TM1py.
If so, feel free to open a Merge Request.

[2022-05-30 08:40] MariusWirtz commented on #730
OK. Feel free to open a Merge Request with it.

[2022-05-30 15:31] #730 closed

[2022-05-30 16:59] MariusWirtz commented on #729
That's unfortunately a limitation of the REST API. `+` is not allowed in attributes names
@lotsaram wrote about this a couple of years ago.

https://cubewise.com/blog/naming-convention-rules-object-element-attribute/

As a workaround, we can use MDX with DIMENSION PROPERTIES

[2022-05-30 16:59] #729 closed

[2022-05-31 10:07] #728 closed

[2022-05-31 18:33] MaaYuu opened #734 "execute_mdx_dataframe changes NA element to NaN in dataframe"
**Describe the bug**
We have an element named NA, when we get this element with execute_mdx_dataframe function, it is shown as NaN in the dataframe. But, when we use execute_mdx function, we can get it like [Region].[Region].[NA]. So, I thought that it converts NA to NaN in dataframe.

![image](https://user-images.githubusercontent.com/35421890/171259755-c9a1017f-4168-4663-a686-3f7be0911da5.png)

[2022-05-31 20:47] MariusWirtz commented on #734
Good finding! Thanks for reporting.

I wil look into this

[2022-06-05 23:55] davidcar84 opened #737 "Unauthorized response for an admin account"
**Describe what did you try to do with TM1py**
I want to read audit logs using 'get_audit_log_entries' function.

**Describe what's not working the way you expect**
Didn't get the expected result? Describe:
1. Expected result would be to have top 10 results from audit log.
2. Details: Using postman I'm able to run the query using following url pattern:
    http://server:port/api/v1/AuditLogEntries

[2022-06-06 19:44] davidcar84 commented on #737
Hi @MariusWirtz, thanks for your answer. It was a silly mistake in my code as I was running the function out of the structure that creates the TM1 connection (indentation). I'm closing this comment and feel free to kick me out of here :)

[2022-06-06 19:44] #737 closed

[2022-06-06 20:02] MariusWirtz commented on #737
Ha, quite the contrary! I appreciate you raising this issue. It has the positive side effect that it's findable through google and may help future TM1py users that face a similar issue. So keep 'em coming :)

[2022-06-07 12:51] MariusWirtz opened #738 "Subset search functions for native cube views"
It would be nice to have `search` functions in the `ViewService` to find all views that reference a subset.

Kinda similar to the `search` functions in the `ProcessService`
https://github.com/cubewise-code/tm1py/blob/7358f7bf7d372b18fb82f93a36336aa79304c8cf/TM1py/Services/ProcessService.py#L93

[2022-06-07 13:11] MariusWirtz commented on #734
Hi @MaaYuu,

we will push a fix for this soon.
for now, you can execute the function with additional keyword arguments like this:

[code]

[2022-06-07 19:01] #734 closed

[2022-06-08 14:31] SatyaDnv opened #740 "unable to connect to TM1py with Nginx https non standard url"
The standard URL has https://servername:port/api/v1.. for us the onpremise uses nginx setup and has the https://servername:port/tm1/test/

The connection is refused with 404 or 401 as the default behaviour points to api/v1 ...

how to change the default behaviour and use /tm1/test in restservice.py,etc...

[2022-06-08 14:48] MariusWirtz commented on #740
Hi @SatyaDnv,

does it work if you provide the base_url parameter instead:

[code]

[2022-06-08 15:10] SatyaDnv commented on #740
Thank you for the response.

No. It sends 404 not found exception.

[2022-06-08 15:15] MariusWirtz commented on #740
what request do you do against nginx to get the $metadata document in the browser?

Without a proxy you would do this:
`https//localhost:12354/api/v1/$metadata`

[2022-06-08 15:19] SatyaDnv commented on #740
The following request response is working well. however, TM1py is 404 not found error.

sConnection_String = 'https://servername:8001/tm1/dev/dashboards'
sCube_Name = 'detailed'
sPrivate_View_Name = 'reportview'
sRequest = sConnection_String + "/Cubes('" + sCube_Name + "')" \
           "/Views('" + sPrivate_View_Name + "') /tm1.Execute?" \
           "$expand=Axes($expand=Hierarchies($select=Name

[2022-06-08 15:58] SatyaDnv commented on #740
https//server0:12354/api/v1/$metadata gaves me response of xml of metadata

[2022-06-09 09:21] MariusWirtz commented on #740
Please upgrade to the new feature branch and see if it works now through nginx:

[code]

as `base_url` provide: `"https://servername:8001/tm1/dev/dashboards"`

[2022-06-09 12:53] MariusWirtz commented on #740
I think the only solution is to re-map the delegation of your Nginx.
Instead of delegating requests to `https://localhost:12354/api/v1/...` it needs to delegate to `https://localhost:12354/...`

[2022-06-09 15:25] SatyaDnv commented on #740
With 741. i recieve following error.

ERROR:
        No response returned from URL: 'https://servername:8001/tm1/dev/dashboards/api/v1/Configuration/ProductVersion/$value'. Please double check your address and port number in the URL.
--

[2022-06-10 09:35] #344 closed

[2022-06-10 09:35] #491 closed

[2022-06-10 09:36] #559 closed

[2022-06-10 09:36] #611 closed, assigned to nobody

[2022-06-10 18:03] japwah commented on #720
Hi @MariusWirtz ,

Shane and I were testing the hotfix for the issue we are seeing and the issue still persists:

Error message in python:
raise TM1pyWriteFailureException(statuses, log_files)
TM1py.Exceptions.Exceptions.TM1pyWriteFailureException: All 1 write operations failed. Details: ['TM1ProcessError_20220610175006_99826100_.log']

This is the contents of the process error log above:
![image]

[2022-06-10 18:18] MariusWirtz commented on #720
Hi @japwah,

make sure to explicitly add the (default) dimension before the elementname like this. Then it should work:

[code]

[2022-06-10 18:43] sbethea-cw commented on #720
Hi @MariusWirtz,

That fixed our issue.  Thanks!

[2022-06-10 19:30] Maxpinch opened #747 "Unable to ExecuteCommand using execute_ti_code"
**Describe the bug**
I am not able to use the ExecuteCommand() TurboIntegrator function with the execute_ti_code function.

**To Reproduce**
When I execute the following code directly from Arc, the file is successfully copied:

`ExecuteCommand('cmd /c copy /Y d:\tm1\server_dev\logs\test_copy.txt test_copy.txt', 0);`

However, when I try to execute it from TM1py, it doesn't work.

`prolog_code = "E

[2022-06-10 22:58] jrobinsonAG commented on #747
You may need to escape the / when passing through the python string.

On Sat, 11 Jun 2022, 05:30 Maxpinch, ***@***.***> wrote:

[2022-06-11 13:55] Maxpinch commented on #747
I updated my initial post. The path is good since I'm using two backslash in my path. Anyone is able to replicate this issue ?
Thanks

[2022-06-12 03:57] jrobinsonLOR commented on #747
Hi @Maxpinch

I was able to replicate it, the execute_ti_code method is expecting an iterable string object. So if passing a single string it is treating each character as separate line.

If you enclose the string in a list it should work.

i.e. prolog_code = ["ExecuteCommand('cmd /c copy /Y d:\\tm1\\server_dev\\logs\\test_copy.txt test_copy.txt', 0);"]

[2022-06-12 17:25] MariusWirtz commented on #718
resolved with #746

[2022-06-12 17:25] #718 closed

[2022-06-12 17:26] MariusWirtz commented on #507
resolved with #746

[2022-06-12 17:26] #507 closed

[2022-06-12 17:28] MariusWirtz commented on #709
`WithProcess` approach to increase write speed rejected

[2022-06-12 17:28] #709 closed

[2022-06-12 20:43] Maxpinch commented on #747
It works ! Thank you very much !

[2022-06-12 20:43] #747 closed

[2022-06-12 20:43] Maxpinch commented on #747
If you enclose the string in a list it should work.

[2022-06-16 10:44] cubewise-gng opened #748 "Update Applications"
**Describe the bug**
The current function update_or_create_document_from_files(), is essentially deleting and recreating the application.
So is not really doing an update.
By uploading a new file to TM1 it is assigned a new system name so any reference to the old name will not work. eg used as menu links.

Could there also be a update() function by passing in the Application object?

**Expected be

[2022-06-30 20:50] MariusWirtz commented on #738
closed with #752

[2022-06-30 20:50] #738 closed

[2022-07-11 07:35] MariusWirtz opened #758 "Implement `ELISPAR` and `ELISANC` in TM1py"
TM1Py doesn't have substitutes for the TI functions `ELISPAR` and `ELISANC`.

Currently, the only way to do this check is to use the `ELISPAR` function in the recently added `evaluate_ti_expression` function or to retrieve larger chunks/ hierarchy subtrees into Python and perform the check in Python.

It would be convenient to have two functions that efficiently perform the `ELISPAR`/`ELISANC` che

[2022-07-11 10:34] MariusWirtz commented on #758
https://www.ibm.com/docs/en/planning-analytics/2.0.0?topic=eirf-elementisparent

https://www.ibm.com/docs/en/planning-analytics/2.0.0?topic=eirf-elementisancestor

[2022-07-11 14:10] rclapp commented on #758
ElementIsParent should be easy via an ODATA Query. If this query returns a "value", then return true

`Dimensions('Account')/Hierarchies('Account')/Edges?$filter=ParentName eq '1' and ComponentName eq '10'`

`{
  "@odata.context": "../../$metadata#Dimensions('Account')/Hierarchies('Account')/Edges",
  "value": [
    {
      "ParentName": "1",
      "ComponentName": "10",
      "Weight": 1
    }

[2022-07-11 15:56] rclapp commented on #758
I think I have a server side solution for ElementIsAncestor. The Ancestor is passed to MDX and the tested element is passed to the query

`POST: ExecuteMDXSetExpression?$select=Tuples&$expand=Tuples($filter=Members/any(f:f/Name eq '10');$select=Members;$expand=Members($select=Name);$count=true)`

Payload: `{"MDX":"{TM1DRILLDOWNMEMBER({[Account].[Account].[1]}, ALL, RECURSIVE )}"}`

Response:
[code

[2022-07-12 09:11] MariusWirtz commented on #758
Thanks, @rclapp!
but thinking about this idea further, wouldn't it be easier if we do the whole thing in MDX?

`{INTERSECT({TM1DRILLDOWNMEMBER({[Airport].[Airport].[Asia]}, ALL, RECURSIVE )},{[Airport].[SYD]})}`

`{INTERSECT({TM1DRILLDOWNMEMBER({[Airport].[Airport].[Asia]}, ALL, RECURSIVE )},{[Airport].[ZRH]})}`

It would be case and space insensitive without us explicitly asking for it in the RES

[2022-07-13 14:09] rclapp commented on #758
Good question, I'll look.

Sent from my mobile device

On Jul 12, 2022 11:53 AM, Wim Gielis ***@***.***> wrote:

Would DESCENDANTS have any noticeable impact on speed ?

Op di 12 jul. 2022 om 17:07 schreef Ryan Clapp ***@***.***>

--

------

Best regards / Beste groeten,

Wim Gielis
MS Excel MVP 2011-2014
https://www.wimgielis.com <http://www.wimgielis.be>

-
Reply to this email directly, view it

[2022-07-13 14:18] rclapp commented on #758
This syntax is 12x SLOWER: `{DESCENDANTS([Big Dim].[Big Dim].[All Divisors],99,SELF_BEFORE_AFTER)}` If you don's use the `BEFORE` flag performance is on par.

[2022-07-13 14:20] wimgielis commented on #758
Thanks Ryan, and excluding 99 is also on par ?

I would always use DESCENDANTS because the syntax is easier and still same
performance.

Op wo 13 jul. 2022 om 16:18 schreef Ryan Clapp ***@***.***>

--

------

Best regards / Beste groeten,

Wim Gielis
MS Excel MVP 2011-2014
https://www.wimgielis.com <http://www.wimgielis.be>

[2022-07-13 14:37] rclapp commented on #758
Here is the TI code for the dim

[code]

[2022-07-13 14:38] wimgielis commented on #758
Thank you Ryan

Op wo 13 jul. 2022 om 16:36 schreef Ryan Clapp ***@***.***>

--

------

Best regards / Beste groeten,

Wim Gielis
MS Excel MVP 2011-2014
https://www.wimgielis.com <http://www.wimgielis.be>

[2022-07-18 12:13] sbethea-cw opened #763 "Easier to interpret error message when TM1 does not respond"
**Describe the bug**
I am opening this issue per @MariusWirtz request. I intermittently receive an error from TM1py when TM1 (IBM Cloud) does not respond. Could TM1py raise an error that is easier to interpret when TM1 does not respond?  Below is an example of the error I receive.

2022-07-14 12:19:38,638 - ERROR - Cancelling an overlapped future failed
future: <_OverlappedFuture pending overlappe

[2022-07-18 13:29] ianboltz opened #764 "Add Multiple Break Points"
**Describe what did you try to do with TM1py**
I am using add break point on a process to debug, but I would like to add multiple in a single call

**Describe what's not working the way you expect**
Didn't get the expected result? Describe:
1. Add break point is singular, I want to be able to pass a range, or list of points to add in a single call

[2022-07-19 13:29] MariusWirtz commented on #748
This issue should be addressed with #762.

@cubewise-gng please confirm that it has been resolved for you.

[2022-07-19 15:29] adscheevel commented on #764
That should be feasible, in the meantime you can nest the add breakpoint call in a FOR loop that iterates through a list of breakpoint objects.

[2022-07-20 04:52] cubewise-gng commented on #748
Thanks guys the update function works well.

[2022-07-20 04:52] #748 closed

[2022-07-22 11:31] #758 closed

[2022-07-27 12:16] MariusWirtz commented on #758
Actually, the naive `evaluate_ti_expression` approach performs well on very large dimensions. See below.

I introduced a new method to the `element_is_ancestor` function in #773

[code]

[code]

[2022-07-27 12:34] MariusWirtz opened #774 "Drop `MAX_STATEMENTS` in `write` `use_ti` logic in versions > 11.8.15"
I was just informed that TM1 release 11.8.15 will not have a limitation on the number of statements that a TI process can have.

We can increase the MAX_STATEMENTS logic in the `write_through_unbound_process` function. This should lead to better performance as the CellPut statements won't need to be broken down into n sequentially executed processes.

[2022-08-03 07:35] MariusWirtz opened #776 "`execute_mdx_dataframe` to support multi axes MDX queries"
The `execute_mdx_dataframe` function doesn't work with multi-axes MDX queries.
Only the first two axes are considered in the resulting data frame. See below. This needs to be addressed.

[code]

|    | d4   | d3   |   Value |
|---:|:-----|:-----|--------:|
|  0 | e01  | e01  |       8 |
|  1 | e01  | e02  |       8 |
|  2 | e01  | e03  |       8 |
|  3 | e01  | e04  |       8 |
|  4 | e01  | e05

[2022-08-09 12:21] ubihw opened #778 "Documentation not available"
**Describe the bug**
When accessing https://tm1py.readthedocs.io/en/latest/, only the "TM1 Services", "TM1 Objects", and "Exceptions" headers are shown. Clicking the Navigation Bar items doesn't work.

**To Reproduce**
visit https://tm1py.readthedocs.io/en/latest/, click any link.

**Expected behavior**
Documentation should be visible :-)

**Version**
tried with different browsers, computers locat

[2022-08-09 13:14] rclapp opened #779 "Support for Trace Calculation"
Need to expand tm1py to support calculation tracing (and eventually feeder tracing). Will explore the need for a calculation object and trace calculation recursion.

[2022-08-10 10:08] MariusWirtz commented on #778
Thanks for raising the issue.

I will look into this. In the meantime, I suggest you use a tool like PyCharm, that displays the docstrings and arguments of functions while you are using them. It is very helpful and substitutes a documentation to a degree.

<img width="592" alt="image" src="https://user-images.githubusercontent.com/15182131/183875319-d2a296b4-7966-4b68-aa6a-bde1553e16be.png">

<img

[2022-08-12 07:42] ubihw commented on #778
Hello Marius,

Thanks for your suggestion. I use the documentation merely to get an overview oft the services/objects/functions available, I can access docstrings and synopsis in IDLE, too. But I think that if IF there is a documentation link, it should work ☺

Freundliche Grüße
Uwe Bielz

Von: Marius Wirtz ***@***.***>
Gesendet: Mittwoch, 10. August 2022 12:08
An: cubewise-code/tm1py ***@***.***>

[2022-08-15 13:36] SatyaDnv opened #782 "DIM_GET sample code with parent child hierarchy with duplicate elements"
**Describe what did you try to do with TM1py**
sample folder dim_get.py

**Describe what's not working the way you expect**
Didn't get the expected result? Describe: The result provides parent, chld.
1. can we get parentID, Parentelement, ChildID, child element, uniquepath. A sample python code to get all the 5 columns.
2. to build a hierarchy in SQL or viz tools.

**Version**
- TM1py [e.g. 1.3.1]

[2022-08-16 00:23] #779 closed

[2022-08-19 09:01] JonChrista opened #788 "attempting to connect to a cam5 TM1 instance hosted on Azure"
**Describe what did you try to do with TM1py**
Describe the script you ran and what it is supposed to do.

attempting connection with TM1service

## script
from TM1py import TM1Service

with TM1Service(address="", port=19308, ssl=True, namespace="LDAP", gateway="http://ctccrdev01.ct.hayne.cloud/ibmcognos/bi/v1/disp", verify=True) as tm1:
    print(tm1.server.get_product_version())
## End script

*

[2022-08-19 12:40] MariusWirtz commented on #788
Hi @JonChrista,

this is an issue, that is been reported a few times in the past. Unfortunately, I haven't experienced the situation myself so I can not confidently say what resolves it.

Maybe start looking into these 3 suggestions:

- @MaaYuu has suggested a solution here to change the configuration for the CAM Gateway:
https://github.com/cubewise-code/tm1py/issues/222#issuecomment-620300563

-

[2022-08-19 13:40] sbethea-cw opened #789 "Execute_mdx - Sandbox Dimension"
I have run into an issue when transferring data between two servers where tm1s.cfg parameter EnableSandboxDimension is different between the two servers.  If EnableSandboxDimension=T on server1 and =F on server2, then the dimensionality of the cellset is not the same.
When I use execute_mdx on server1, the cellset looks like:
{('Base', 'ele1', 'ele2', 'ele3', 'Value'): 12345}
but server2 has Enabl

[2022-08-19 14:00] MariusWirtz commented on #789
I agree. We should introduce an optional argument to the `execute_mdx` function. Something like `skip_sandbox_dimension`

[2022-08-19 14:35] sbethea-cw commented on #789
For reference, when using `execute_mdx` I can put all dimensions on rows/columns and use `skip_context=True`.  This will leave the implicit sandbox dimension on context and exclude from the resulting cellset.  This seems to work as a workaround.

[2022-08-19 17:20] MariusWirtz commented on #778
Documentation is back
https://tm1py.readthedocs.io/en/master/index.html

Let me know if you have any suggestions to improve the docs!

[2022-08-19 17:20] #778 closed

[2022-08-24 09:45] edd1ploiesti opened #795 "Get default process parameters for an existing process"
**Describe what did you try to do with TM1py**
I want to get the default process parameters for an existing TI process, in order to feed those values as parameters in the TM1.Objects.ChoreTask command.

Consequently, if this is not possible, i would like to know what command should i use to identify if a process has parameters or not.

Is any of this possible ?

[2022-08-30 11:32] #795 closed

[2022-09-07 09:02] Dashon3200 opened #798 "Transfer data between server using tm1py"
Hi, I have seen a previous [question](https://github.com/cubewise-code/tm1py/issues/491) where it said that the best way to transfer data between servers is to use the to the `execute_mdx` function, so that it can return a dictionary that can be passed to the `write` function without any transformations.

I have tried to use this but I get an error in the `write` function. I am retrieving the MDX

[2022-09-07 09:28] MariusWirtz commented on #798
Please post the error message and stack trace that you get when calling the `write` function with the result set from the `execute_mdx` function.

Did you pass `element_unique_names=False` as an argument to the `execute_mdx` function?

on a side note, you can simplify your code by using `execute_view` instead of reading the view and turning it into an MDX query.

[2022-09-07 09:51] Dashon3200 commented on #798
Thanks for the swift reply, I have passed `element_unique_names=False` and this solves the issue. I have also simplified the code using your suggestion to use `execute_view`.

The code is now much simpler -
[code]
Is there anything else that can be done to make it more efficient and fast?

[2022-09-07 10:22] MariusWirtz commented on #798
Two low-hanging fruits for performance:

- To make the writeback faster, you use the `write_async` function.
https://cubewise-code.github.io/tm1py-tales/2021/write-with-tm1py.html

- To make the reading faster you can do `skip_zeros=True` and potentially `skip_rule_derived=True` and `skip_consolidated=True`

on a side note, don't forget to clear the slice in the cube in the target instance.

[2022-09-07 10:37] Dashon3200 commented on #798
Thanks for the help, will implement this.

[2022-09-07 16:48] MariusWirtz commented on #788
@JonChrista were you able to resolve the issue yet?

[2022-09-07 18:50] tanjim2019 opened #799 "Writing a value to application from tm1py; not updating in the file in application or in Planning Analytics Workspace"
I have facing this issue, I am not sure if this functionality exists in tm1py or I am doing it wrong. Can you pls help me?
I have a report that is in application in tm1 architect and I have also published to planning analytics workspace.
I am trying to update a value in a cell in the application file, which is an xlsm file uploaded in the application in tm1 architect. The same file is published in

[2022-09-07 19:16] rclapp commented on #799
Based on what you are showing you are getting the file opening it, and then editing it, but doing nothing else. The edit that you are making is only happening on your machine and has never been published back to TM1. You will need to take that workbook, wb, and publish it back to the TM1 applications.

From: tanjim2019 ***@***.***>
Reply-To: cubewise-code/tm1py ***@***.***>
Date: Wednesday, Septem

[2022-09-07 19:34] tanjim2019 commented on #799
@rclapp Thank you for your reply. I was under the impression that the below line of code updates the application after it is saved using wb.save(filename = application.name).
    tm1.applications.update(
    application = application,
    private=False)
And also when I executed the script again with print it was giving the value I have written to ie 20. I called the file from application. So, 20 s

[2022-09-07 20:46] rclapp commented on #799
Sorry I think I missed that line of code in your original post, but based on my testing I wan't able to get your code to work as written. Some small updates and this seems to work

`from TM1py import TM1Service
from openpyxl import load_workbook

with TM1Service(address='localhost', port=52670, ssl=False, user="admin", password="apple") as tm1:

    application_entries = tm1.elements.get_element_n

[2022-09-07 21:18] tanjim2019 commented on #799
@rclapp thanks for your quick response. Awesome, yes that resolved it. :)

[2022-09-08 07:04] #799 closed

[2022-09-08 12:13] MariusWirtz commented on #798
Hi @Dashon3200,

two simple solutions:

- use n smaller view / MDX queries instead of 1 large view.

- change the maximum view size parameter in the tm1.cfg. You can also do this dynamically before and after the retrieval.

[code]

[2022-09-13 09:12] Dashon3200 commented on #798
Thanks, will give this a try and share the results.

[2022-09-13 09:12] #798 closed

[2022-09-14 12:43] #788 closed

[2022-09-14 12:43] JonChrista commented on #788
Issue resolved, using incorrect Namespace

working code

with TM1Service(address="10.xx.xx..xx",
                port=19308, ssl=True,
                namespace="AD",
                gateway="http://###############.cloud/ibmcognos/bi/v1/disp",
                ) as tm1:

Thanks for the advice Marius

Regards Jon

[2022-09-19 16:26] MariusWirtz commented on #509
@meyersrl
can you confirm that the issue persists after you made the following change to the Cognos configuration:
-  Security -> Authentication -> Cognos -> Allow Anonymous Access? to **True**.
-  and verified that you are using the right CAM namespace ID

[2022-09-19 16:26] #509 closed

[2022-09-19 16:28] MariusWirtz commented on #764
Fixed with #791 and #800

[2022-09-19 16:28] #764 closed

[2022-09-19 16:30] #399 closed

[2022-09-20 06:58] Cubewise-Ronan opened #802 "Can not skip control object when get all names in dimension service"
**Describe the bug**
skip_control_dims does not work, set it to True, but still seen the control objects in response.

**To Reproduce**
tm1.dimensions.get_all_names(skip_control_dims=True)

**Expected behavior**
No control object

**Version**
TM1py [the latest]

**Additional context**
no.

[2022-09-20 07:33] MariusWirtz commented on #802
The feature has been added in May this year f417b4b9dbd7e29d20c09f1c1239af0a0e3ddbc0 by @adscheevel
It's not included in the PyPI release of TM1py.

You can upgrade to the current master branch for now. We will release a new version of TM1py to PyPI soon.

[2022-09-20 07:33] #802 closed

[2022-09-20 22:30] wimgielis opened #803 "Impersonation issues"
Hi all !

**Describe what did you try to do with TM1py**
Trying to use Impersonation. In this case, an IBM cloud (dev) environment.

**Describe what's not working the way you expect**
I have seen it working once in my code, afterwards it did not work anymore.

The number of model cubes and control cubes added up for an admin user ==> 92
The number of model cubes and control cubes added up for the

[2022-09-21 13:43] MariusWirtz commented on #803
Hi @wimgielis,

normally you can impersonate with the "user name".

here is a sample that works for me. Can you try this on your end?

[code]

[2022-09-21 14:20] wimgielis commented on #803
Many thanks Marius ! Nice testing script.

I see that all users would see 92 cubes, as if the Impersonation is not honoured (?)

![image](https://user-images.githubusercontent.com/17201709/191528106-01f16c62-a069-4c1b-8db3-8efc32b0d066.png)

Would you have any idea what is going on ? When looking in TM1 for 1 such user, I have:

This user is only part of 1 group:
![image](https://user-images.githu

[2022-09-21 14:30] MariusWirtz commented on #803
Excuse me. There was an issue in my script. please replace this line:

[code]
 with this one:

[code]

[2022-09-21 21:07] avoisinn opened #806 "Problem WSL2 and TM1py connection"
Hi everyone,

First of all I think that I've check everywhere in this forum but I didn't find my solution (if it exists sorry in advance) so I post that here.

I am facing an issue to connect my Cube since I move to work with WSL2.

Here is the situation :
I can connect to my cube with my python code once run from Windows and when the VPN is on. I can connect with CAM + SSO and CAM without SSO (In

[2022-09-22 00:31] wimgielis commented on #803
Ah, I didn't catch that either.
Now I see 69 and 59 and 0 cubes. 0 cubes for 2 persons I know that left the company. This means that at least, this is working :-)

I will try to reverse engineer and see what might be different in Postman and Excel VBA.

Thanks for your cooperation, I will update the thread soon.

[2022-09-22 00:34] wimgielis commented on #803
Here is the update.

I have it "working":
- In VBA, add: .setRequestHeader "TM1-Impersonate", "CAMID(""pans:u:...@... . ...."")"
- Also, any time I do such an explicit Impersonation, I need to do first a POST command of "ActiveSession/tm1.Close"

Not sure if others would do the same, but for now that will do ;-)

[2022-09-22 07:12] #803 closed

[2022-09-22 08:46] MariusWirtz commented on #806
No response returned from URL sounds like there is a connectivity issue between python and TM1.

Can you access the TM1 API through the browser from WSL2?
Try his URL please: `https://<address>:<port>/api/v1/$metadata`

[2022-09-22 14:31] avoisinn commented on #806
Thank you for your answer Marius,

I tried to connect to the URL from WSL2 and It seems I cannot access it but I can from windows.

I will try to reinstall tm1 today to see if it will help

[2022-09-26 13:53] MariusWirtz commented on #806
Please do post a comment once you have found work a working solution! I'm sure you are not the only person in that situation.

I will close this issue in the meantime.

[2022-10-11 07:20] wimgielis commented on #803
Ah, I didn't catch that either.
Now I see 69 and 59 and 0 cubes. 0 cubes for 2 persons I know that left
the company. This means that at least, this is working :-)

I will try to reverse engineer and see what might be different in Postman
and Excel VBA.

Thanks for your cooperation, I will update the thread soon.

------

Best regards / Beste groeten,

Wim Gielis
MS Excel MVP 2011-2014
https://www.

[2022-10-11 08:13] macsir commented on #719
As IBM is moving into MDX world, I don't think it worthwhile to provide such backward support. And as far as I know, it might not be possible to do so technically in Python as traditional views are written in C.

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: cubewise-gng ***@***.***>
Sent: Wednesday, May 18, 2022 7:18:36 PM
To: cubewise-code/tm1py ***@***.***>
C

[2022-10-11 09:33] MariusWirtz commented on #789
Hi @sbethea-cw,

can you confirm that fix #812 works for you?

[code]

[2022-10-11 13:45] sbethea-cw commented on #789
Hi @MariusWirtz,

I tested ```execute_mdx``` with new argument ```skip_sandbox_dimension=True``` and it worked!  Thanks!

[2022-10-11 13:53] #789 closed

[2022-10-12 19:07] MariusWirtz opened #813 "Take full advantage of asynchronous request execution"
There is currently no way to take full advantage of asynchronous request execution (`asnyc_requests_mode`).

It would be nice if TM1py could return the job-id to the calling function. This way python scripts could easily do stuff in parallel while polling the operations in TM1 to see if they are finished yet.

Reference:
https://gist.github.com/rclapp/2d6d8d389b99838d6e0fec18642e658f

[2022-10-13 11:33] MariusWirtz opened #815 "Refactor `get_member_proprties` and add columns for weights"
Built with Power BI in mind as a data source the `get_member_proprties` function, is located in the `PowerBiService` and does not retrieve weights to parents.

However, the function can be useful in different contexts, beyond Power BI, so it should be implemented in the `ElementService` and only be referenced in the `PowerBIService`.

Also, it should offer to include an additional column for each

[2022-10-13 12:08] MariusWirtz commented on #774
Here is a sample reproducing the issue

[code]

[2022-10-15 12:32] MariusWirtz opened #816 "Federated authentication for PAoC"
TM1py should allow federated authentication for PA in the IBM cloud.

https://www.ibm.com/docs/en/planning-analytics/2.0.0?topic=information-federated-authentication

[2022-10-19 08:54] Adamgyorgy74 opened #817 "tm1py connect to power bi with config file"
Basically i can connect to power bi with tm1py.
I use this code:

[code]
Run well have no prolem.

But
I tried connect with config file.
I folloved the descriptions with the recommended code  but not working.
My message is:
key error: 'tm1srv01'

[2022-10-19 08:56] MariusWirtz commented on #817
Try to use absolute path to config file

[2022-10-19 09:07] Adamgyorgy74 commented on #817
Here is the code what i try to use

import configparser
from TM1py import TM1Service

config = configparser.ConfigParser()
config.read('C:\\TM1py\\power-bi\\config.ini')

with TM1Service(**config["tm1srv01"]) as tm1:
  mdx  =  """
  --here is the mdx code
          """
df = tm1.power_bi.execute_mdx(mdx)

df

[2022-10-19 09:11] MariusWirtz commented on #817
please post the structure of the config.ini as well.

[2022-10-19 09:12] Adamgyorgy74 commented on #817
[tm1srv01]
address=xxxxxx
port=xxxx
namespace=xxxx
user=username
password=password
ssl=False

[2022-10-19 09:23] Adamgyorgy74 commented on #817
My tm1py version is: 1.10.0
And if i try to update to 1.5
this is the result :Requirement already satisfied

[2022-10-19 09:24] MariusWirtz commented on #817
The problem is that the config.ini file is not read. Try to use `/` for the path

[2022-10-19 09:39] Adamgyorgy74 commented on #817
Better! Something changed:

<pi>TM1py.Exceptions.Exceptions.TM1pyRestException: Text: '' - Status Code: 401 - Reason: 'Unauthorized' - Headers: {'Content-Type': 'text/plain', 'Content-Length': '0', 'Connection': 'keep-alive', 'OData-Version': '4.0', 'Set-Cookie': 'TM1SessionId=HpzIrykjpvpW6M-mJRhxRA; Path=/api/; HttpOnly', 'WWW-Authenticate': 'CAMPassport http://......................'}
</pi>”

[2022-10-19 10:19] MariusWirtz commented on #817
Unauthorized can mean two things.
- you are providing the wrong login information (e.g. user, password, namespace)
- your user doesn't have permission to do the operation

given that you were able to authenticate before you only need to make sure the config.ini contains the same arguments as you were providing before to the TM1Serice I will close this issue as it's not a TM1py issue.

[2022-10-19 10:19] #817 closed

[2022-10-19 11:44] Adamgyorgy74 commented on #817
Thanks for your help.
Have a nice day

[2022-10-21 07:27] dziaro44 opened #819 "Error caused by using MAX_STATEMENTS_POST_11_8_15"
Probably related to #774

**Describe the bug**
I was trying to use CellService.write_dataframe function with dataframe that [len(df) > Process.MAX_STATEMENTS = 16_380] and with use_ti=True. In previous TM1py version everything was fine, now I got error (in polish: "Błąd: Prolog wiersz procedury (16387): Przekroczono maks. liczbę instrukcji", it would be something like "Error: Prolog row (16387) ma

[2022-10-23 00:46] MariusWirtz commented on #819
Thanks for raising the issue. It slipped through the testing.
The `verify_version` only checks the major and minor version digits e.g. `11` and `7` for `11.7.015`.
I will push a new release to PyPI today to make sure the lower digits are considered.

This is because the limitation is lines of code per code tab.
We squeeze MAX_STATEMENTS in the prolog and in the epilog.
Does that resolve your conce

[2022-10-23 01:39] MariusWirtz commented on #819
Hi @dziaro44,

please upgrade to this branch and verify if it resolves the issue:

[code]

[2022-10-24 09:25] dziaro44 commented on #819
Hi @MariusWirtz
It resolves the issue but doesn't resolve my other concerns.

The more important thing is that If I would have version >= 11.8.015 then performance would not improve from
[code]
in _execute_write_statements function because write_through_unbound_process still uses Process.MAX_STATEMENTS regardless of version.

Second thing is related to

Maybe I didn't describe it properly last tim

[2022-10-24 09:38] MariusWirtz commented on #819
Hi @dziaro44,

thanks for the catch. You are right that we are missing a condition in the `write_through_unbound_process` function.
I will address that.

The +1 is not an issue, because the curret MAX_STATEMENTS has a small buffer of a few lines.
In reality, the max statements in a code tab is not 16_380 but something like 16_385 or so.
Does that resolve your concern?

Unfortunately, The impact on

[2022-10-24 10:10] dziaro44 commented on #819
Thank you for the fast reply.

I'm closing Issue.

[2022-10-24 10:10] #819 closed

[2022-10-24 10:11] MariusWirtz commented on #819
I appreciate that you raised the issue. I will merge and release to PyPI

[2022-10-28 04:00] #815 closed

[2022-11-09 19:07] zallin93 opened #824 "TM1py is missing a pyproject.toml installer"
**Describe the bug**
During one of our most recent deployments, we started receiving deprecation notices from PIP that TM1py and some of its peer dependencies are missing the required `pyproject.toml` setup file.

[code]

In addition to a `setup.py` configuration, TM1py should supply a `pyproject.toml` install config.

**To Reproduce**
Install TM1py using Pip

**Expected behavior**
TM1py should in

[2022-11-09 19:08] zallin93 commented on #824
Related: https://github.com/pypa/pip/issues/8559

[2022-11-10 08:59] Rnvksm opened #825 "Trying to find out the top parent of an Element in Dimension using TM1py"
have created the MDX for that but need help to execute and get the value and have tried multiple ways but no luck.
Please help me ASAP

Script:
hieset=MdxHierarchySet.ancestors(Member.of(dim, '1110')).tail(1)

    md=hieset.to_mdx()

[2022-11-11 10:33] scrambldchannel commented on #824
I've added a quick fix in a PR. From the issue @zallin93 links to, it reads like you have until April next year or so.

[2022-11-14 08:21] MariusWirtz commented on #825
Here is a sample:

[code]

[2022-11-14 08:21] #825 closed

[2022-11-15 09:01] Rnvksm opened #828 "Issue with get_elements_dataframe function in Element Service"
Hi Marius,
As discussed earlier, these are the bugs i have found. if you can provide some solution that would be great.
**Describe the bug**
1. i have seen some error messages in the output as well in level columns
2. few cases i have seen where level elements are placed in weight columns and vice - versa .
 To be précised the issue is at  when its showing higher parents of the elements these issu

[2022-11-15 15:53] MariusWirtz commented on #828
Please upgrade to the new branch and verify that the issue is resolved:

[code]

[2022-11-15 22:32] harveyca307 opened #830 "IBM Cloud login"
I am getting the following error trying to login to an IBM cloud instance.  I took the base login from the PAW page where I was logged in and added https://xxxxxxx.planning-analytics.ibmcloud.com/tm1/api/tm1 (tm1 is the database I am working in).  I have been working many hours today and could have made a stupid mistake.

I am creating a dict for the config:

{
        'base_url': _base_url,

[2022-11-15 22:39] #830 closed

[2022-11-15 22:39] harveyca307 commented on #830
Typo on my side.

[2022-11-16 11:07] MariusWirtz opened #832 "ElementAttributes are not created when Dimension and Hierarchy are created as 2 operations"
To reproduce

[code]

[2022-11-17 12:47] Rnvksm commented on #828
Hi Marius ,

Now Its working .Thanks for the correction

[2022-11-17 12:51] #828 closed

[2022-11-17 14:53] #832 closed

[2022-11-17 17:17] nicolasbisurgi opened #836 "Issue when loading tm1project from file"
**Describe the bug**
Issue 1: when creating a tm1project from file the existing code under tm1projecttask duplicates the Processes property.
Issue 2: when adding a chore as a task we need to include the 'Chores' property as we do on the Process one.

**To Reproduce**
Issue 1: try to load a json file with the following content:
[code]
Issue 2: create a task with a chore
`print(TM1ProjectTask('test_

[2022-11-20 19:30] MariusWirtz commented on #836
Solved with #835

[2022-11-20 19:30] #836 closed

[2022-11-20 19:40] MariusWirtz commented on #824
Solved with #826

To be released before the end of the year with 1.10.2

[2022-11-20 19:40] #824 closed